<div class="spellChat">
    <span class="flexCenter borderTop"> {{actorName}} Casts: </span>
    <span class="flexCenter borderBottom"> {{name}} </span>
    <div class="flexBetween">
        <span> Action: {{system.action}} </span>
        <span> Type: {{system.type}} </span>
        <span> Proj: {{system.projection}} </span>
    </div>
    <span class="borderBoth"> {{system.description}} </span>
    {{#if expand}}
    <div>
        <button class="spellDifficulty" data-label="basic"> Basic </button>
        <button class="spellDifficulty" data-label="int"> Intermidiate </button>
    </div>
    <div>
        <button class="spellDifficulty" data-label="adv"> Advanced </button>
        <button class="spellDifficulty" data-label="arc"> Arcane </button>
    </div>
    {{/if}}

    {{#if basic}}
    <div class="spellChatDiff">
        <span class="flexCenter"> Basic </span>
        <div class="borderBoth flexBetween">
            <span> Req: {{system.basic.intReq}}</span>
            <span> Cost: {{system.basic.zeonCost}} Zeon </span>
            <span> Maint: {{system.basic.maint}} ({{system.maintType}})</span>
        </div>
        <span> {{system.basic.rollDesc}} </span>
    </div>
    {{/if}}
    {{#if int}}
    <div class="spellChatDiff">
        <span class="flexCenter"> Intermediate </span>
        <div class="borderBoth flexBetween">
            <span> Req: {{system.intermediate.intReq}}</span>
            <span> Cost: {{system.intermediate.zeonCost}} Zeon </span>
            <span> Maint: {{system.intermediate.maint}} ({{system.maintType}})</span>
        </div>
        <span> {{system.intermediate.rollDesc}} </span>
    </div>
    {{/if}}
    {{#if adv}}
    <div class="spellChatDiff">
        <span class="flexCenter"> Advanced </span>
        <div class="borderBoth flexBetween">
            <span> Req: {{system.advanced.intReq}}</span>
            <span> Cost: {{system.advanced.zeonCost}} Zeon </span>
            <span> Maint: {{system.advanced.maint}} ({{system.maintType}})</span>
        </div>
        <span> {{system.advanced.rollDesc}} </span>
    </div>
    {{/if}}
    {{#if arc}}
    <div class="spellChatDiff">
        <span class="flexCenter"> Arcane </span>
        <div class="borderBoth flexBetween">
            <span> Req: {{system.arcane.intReq}}</span>
            <span> Cost: {{system.arcane.zeonCost}} Zeon </span>
            <span> Maint: {{system.arcane.maint}} ({{system.maintType}})</span>
        </div>
        <span> {{system.arcane.rollDesc}} </span>
    </div>
    {{/if}}
</div>