<footer class="form-footer">
    {{#if system.showPreview}}
    <div class="kiTechAbility-buttons">
        <button type="button" data-action="continue">{{localize "abfalter.dialogs.continue"}}</button>
        <button type="button" data-action="close">{{localize "abfalter.dialogs.close"}}</button>
    </div>
    {{/if}}
</footer>