<form class="changelog">
    <header class="changelogHeader">
        <div>
            <span>If you wish to support me or the system click -> <a href="https://ko-fi.com/luminitatv">Thank you!</a></span>
        </div>
    </header>

    <body>
        <h5> Change Log </h5>
        <div class="changelogSection">
            <h6>v1.4.2 - 2024-07-31</h6>
            <span>
                Hello everyone! It's been a while since the last update. I've implemented this changelog so that everyone
                can easily see the changes I push onto the system (especially for people not following the github). Anyways,
                this update is mostly fixing naming conventions and stuff, so not much for the user but more of cleaning up the code.
                The next update will include a rework for the armor/helmet items & calulations, weapon item, and inventory item. I will also 
                add an optional weight system to easily track weight n stuff. If I have the item, I want to implement a simple manual combat calculator as well
                since the auto combat calculator I want to make won't be here for a long while.
            </span>
            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>Changelog (clicking don't show again will not show the changelog until the next version release)</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Changed</h5>
                <ul>
                    <li>Open rolls now update the chat card instead of creating a new one</li>
                    <li>Fumbles now update the chat card as well</li>
                    <li>Variable names, anyone with macros will have to most likely update them found <a href="url=https://github.com/Lumenita/abfalter/releases/tag/v1.4.2)">here</a></li>
                    <li>Certain active effects will reset to null due to variable name changes</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>A variety of bugfixes</li>
                </ul>
            </div>
        </div>
        <div class="changelogButtons">
            <button name="close">
                <span>Close</span>
            </button>
            <button name="dontShowAgain">
                <span>Don't show again</span>
            </button>
        </div>
    </body>
</form>

<!-- 
       <div class="changelogSection">
            <h6>v1.4.2 - 2024-07-31</h6>
            <span>Textbox</span>
            <div class="changelogList">
                <span>Added</span>
                <ul>
                    <li></li>
                </ul>
            </div>

            <div class="changelogList">
                <span>Changed</span>
                <ul>
                    <li></li>
                </ul>
            </div>

            <div class="changelogList">
                <span>Fixed</span>
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
-->