<form class="changelog">
    <header class="changelogHeader">
        <div>
            <span>If you wish to support me or the system click -> <a href="https://ko-fi.com/luminitatv">Thank you!</a></span>
        </div>
        <h5> Change Log </h5>
    </header>

    <div class="changelogBody">
        <div class="changelogSection">
            <h6>v1.5.1 - 2025-06-02</h6>
            <span>
                Hotfix. I did add assets for the compendium characters, however, I did not update the compendium itself. I might go through it in the future, but not anytime soon.
            </span> 

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>This changelog not showing up after a system update</li>
                    <li>Weapons Dodge/Block were not rolling off the dialogue, fixed</li>
                    <li>Cultural Roots item details was not accepting text, now works</li>
                    <li>Label fix for cooking under the DP Costs tab for the Class Item</li>
                    <li>fixed Item pictures so that they can be edited/added</li>
                    <li>Localization fix for ki Reset button and an error pop up for the dp calculator</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>New updated ex localization thanks to @Shairin</li>
                    <li>Damage Resistance Mult now affects class HP bonus</li>
                    <li>Defensive buttons properly work for weapons</li>
                    <li>The assets for the characters and Creatures compendioum which can be found here: systems/abfalter/img/tokens/</li>
                </ul>
            </div>

        </div>

        <div class="changelogSection">
            <h6>v1.5.0 - 2025-05-28</h6>
            <span>
                This is going to be a bit long so I'll be brief here. If you like the changes and wish to support me, just click the button on the top right corner of this page.
            </span> 
            <span>
                Foundry v13 support, complete style changes, background tab rework, new global settings for open rolls, active effects update, and more.
            </span>

            <div class="changelogList">
                <h5>Changelog</h5>
                <ul>
                    <li>Just this once, for the full list of changes, please go here <a href="https://github.com/Lumenita/abfalter/releases/tag/v1.5.0">Patch Notes</a></li>
                </ul>
            </div>
        </div>


        <div class="changelogSection">
            <h6>v1.4.7 - 2025-04-16</h6>
            <span>
                Long overdue update that fixes a few issues and adds some new features. I have been working on the weapon item and attack system. There are some bugfixes and QoL changes.
                While the logic is mostly finished for the weapon, I wiil be doing a ui overhaul since it could be better. For a little surprise, if you click ctrl+2 as gm it open a simple manual calculator,
                I havent fully tested it, and I wont mention it anywhere else since I am still working on it, but it should be usable.
            </span> 
            <span>
                WARNING: In the next update, I will be removing the armorHelmet item, the only reason I havent done already is because I could not get the migration script to work, so all armorHelemts will rip next update.
                I will also be rebuilding the Elan from the ground up since its broken, so all Elans information will most likely rip. Be sure to save the information somewhere before the next update so you can manually transfer it.
                I will attempt to get a migration script to work, but no promises.
            </span>

            <div class="changelogList">
                <h5>Weapon Changes</h5>
                <ul>
                    <li>The Attacks tab has been renamed to Profiles</li>
                    <li>Defensive buttons properly work for weapons</li>
                    <li>holding Shift while clicking attack block dodge skips the dialog</li>
                    <li>Profiles are now divided into 3 types: both, offensive, defensive which limit which information is shown</li>
                    <li>both/offensive profile types are shown in the dropdown for attacks</li>
                    <li>both/defensive profile types are shown in the dropdown for block/dodge</li>
                    <li>Profiles now have attack, block, dodge, damage overrides allowing for blank base values which also makes it easy for predetermined stuff</li>
                    <li>Ranged weapons now have a magazine, once the magazine is out of ammo, ready to fire will be disabled</li>
                    <li>If ready to fire is toggled on, it will fully load the magazine</li>
                    <li>Ranged weapons dmg can now be altered with STR mod, which is optional, and it also has an override for things like muskets</li>
                    <li>Shield is also complete but very basic</li>
                    <li>Rolling a defensive from the weapons now has a custom dialog like attacks</li>
                    <li>defensive dialog auto reduces fatigue just like attacks</li>
                    <li>defensive dialog gives the option to show certain AT values on chat message</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>Missing cateories in DP calculator are now there</li>
                    <li>Class DP values now can be decimals.</li>
                    <li>Active Effects now automatically turn on and off depending if the item is equipped or not, this only works with weapons and Armors for now</li>
                    <li>Besides the Zeon regen full box, an Actual box with the value of zeon regen - daily maint</li>
                    <li>Exposure to all roll functions to the Game Objects for macros</li>
                    <li>A custom accu zeon/current zeon bar value thing</li>
                    <li>Armor penalties now should calculate correctly</li>
                    <li>Armor now has an option to be considered as natural, ignoring layer penalty</li>
                    <li>Armor now has an option to ignore AT layer rules and be added to the final result</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>Initial value of range label for ranged weapons corrected</li>
                    <li>Aura extension/increased damage apply to ranged weapons</li>
                    <li>Aura Extension now gives fortitude to armor</li>
                    <li>A bug where applying a status showed all players an Error of not having permission</li>
                </ul>
            </div>
        </div>

        <div class="changelogSection">
            <h6>v1.4.6 - 2025-02-10</h6>
            <span>
                Hello all! hope all is going well. I missed last month 1 year anniversary of the system, but I have been working on it. This update brings ranged weapons and ammo into the system. As a 
                little bonus, I added a class compendium with the official classes and my rebalances and I also added a dp calculator for your current class. It does NOT support multi-classing yet, but it
                is something I am considering for the future. Other than than theres a bunch of small bug fixes, localization fixes, and visual fixes.
                The current goal is still to finish the weapon item completely with shields, defensives and more flavor texts on the chat messages, but on the side I will overhaul the inventory item and potentially the armor
                which will also include weight and price. Other than that, if you find any mistakes in the compendiums or bugs, please keep me updated as always.
                When I have more time I will continue to update my little tutorial compendium.
                Enjoy!
            </span> 

            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>Ranged weapons attacks</li>
                    <li>Ammo implementation for ranged weapons</li>
                    <li>Ammo have weight and price which marks the start of the weight system and a price system which I have in mind, more on this with future updates.</li>
                    <li>Classes Compendium with the system which include Artorians Class Rebalances and the official classes</li>
                    <li>Class Item update which allows users to input custom dp costs for all skills</li>
                    <li>Character DP allocation calculator located under the settings tab > general settings which calculates your current dp allocation based on your current class (does NOT support multi-class)</li>
                    <li>Breakage rolls now go off of attacks, for ranged weapons ammo also affects final breakage</li>
                    <li>The 1.4.5 changelog which I forgot last time</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>Open Rolls and Fumbles would delete actor name from the chat card</li>
                    <li>A BUNCH of localization issues which would show abfalter.words</li>
                    <li>Newly created actors would have 4 secondaries which would show abfalter.words</li>
                    <li>Formatting with characteristic rolls and resistance rolls which would have the border lines at the wront place</li>
                    <li>Trapping Rolls now properly show when you open roll and fumble</li>
                    <li>Added a scroll bar for the changelog and a max height so it doesnt fill the page upon opening it</li>
                </ul>
            </div>
        </div>

        <div class="changelogSection">
            <h6>v1.4.5 - 2025-01-12</h6>
            <span>
                A small hotfix for some bugs
            </span> 

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>Bug where actor name disappeared on open roll</li>
                    <li>Custom secondary abilities had int and per bonuses switched with each other</li>
                    <li>Custom secondary abilities had int and per bonuses switched with each other</li>
                    <li>Weapons would not open when spirit rule was enabled</li>
                    <li>Certain labels for secondary abilities where not showing correctly</li>
                    <li>Update fr.json by @Tinambel</li>
                </ul>
            </div>
    
        </div>

        <div class="changelogSection">
            <h6>v1.4.4 - 2024-12-16</h6>
            <span>
                Happy holidays everyone! I hope you all are doing well. I mostly got stuck debating which features to implement for the weapon attack system and how much automation I wanted.
                I always felt like it either wasnt enough or was too much, so I'm releasing what I have so far and update it as I go.
                I plan to start adding compendiums soon with the updated items as I go.
                The other changes are mostly code related, so that won't affect you.
            </span> 

            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>The start of my tutorial compendium, where I explain features of the system, this will be updated as I go</li>
                    <li>Weapon Attack Options, Prompt, and Roll</li>
                    <li>Weapon Trapping Roll</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>100% for real this time: fixed nats on secondaries being maxed out in different languages</li>
                    <li>Any minor bugs I found</li>
                </ul>
            </div>
            
            <div class="changelogList">
                <h5>Localization</h5>
                <ul>
                    <li>For those who have been helping me with the translations, Thank you as always;</li>
                        <ol>@Shairin for the spanish translations</ol>
                        <ol>@Dattabase, @Boudou, and @Angelwitch for the French translations</ol>
                        <ol>@Renniol for the Russian translations</ol>
                    <li>I have made changes to the lang files, to reduce redundancy and make it easier to translate(hopefully) by adding all the new stuff in one area.</li>
                    <li>Juggling 4 lang files is qutie time consuming, these changes should allow me to breeze through them in adding stuff</li>
                    <li>I know alot of places probably have non localilzed values(like spells), if you let me know where I will go fix them</li>
                </ul>
            </div>
        </div>


        <div class="changelogSection">
            <h6>v1.4.3 - 2024-09-28</h6>
            <span>
                Hello all, I'm releasing part 1 of the weapon update. As I work thorugh making the weapon/attack system to my liking, I keep hitting barriers
                which take time for me to understand and implement. Therefore, I'm going to release it in parts. Currently, only visiual changes and more data entry options 
                for weapons. Part 2 will include custom rolling and such, it will also include weight options.
            </span>

            <div class="changelogList">
                <h5>Changed</h5>
                <ul>
                    <li>Moved Proficiencies to the background tab, visual gui will be changed in the future.</li>
                    <li>Weapons new visual and extended data entry</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>Fixed Ki detection and conceal</li>
                    <li>fixed nats on secondaries being maxed out in different languages</li>
                    <li>Any minor bugs I found</li>
                </ul>
            </div>
        </div>
        
        <div class="changelogSection">
            <h6>v1.4.2 - 2024-07-31</h6>
            <span>
                Hello everyone! It's been a while since the last update. I've implemented this changelog so that everyone
                can easily see the changes I push onto the system (especially for people not following the github). Anyways,
                this update is mostly fixing naming conventions and stuff, so not much for the user but more of cleaning up the code.
                The next update will include a rework for the armor/helmet items & calulations, weapon item, and inventory item. I will also 
                add an optional weight system to easily track weight n stuff. If I have the item, I want to implement a simple manual combat calculator as well
                since the auto combat calculator I want to make won't be here for a long while.
            </span>
            <div class="changelogList">
                <h5>Added</h5>
                <ul>
                    <li>Changelog (clicking don't show again will not show the changelog until the next version release)</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Changed</h5>
                <ul>
                    <li>Open rolls now update the chat card instead of creating a new one</li>
                    <li>Fumbles now update the chat card as well</li>
                    <li>Variable names, anyone with macros will have to most likely update them found <a href="https://github.com/Lumenita/abfalter/releases/tag/v1.4.2">here</a></li>
                    <li>Certain active effects will reset to null due to variable name changes</li>
                </ul>
            </div>

            <div class="changelogList">
                <h5>Fixed</h5>
                <ul>
                    <li>A variety of bugfixes</li>
                </ul>
            </div>
        </div>

    </div>

    <footer class="changelogButtons">
        <button name="close">
            <span>Close</span>
        </button>
        <button name="dontShowAgain">
            <span>Don't show again</span>
        </button>
    </footer>
</form>