<div>
    <div class="fumbleChatMessage">
        <div>
            <span> {{rollResult.data.name}} </span>
        </div>
        <div title="{{rollResult.result}}">
            <span> {{label}} </span>
            <span class="fumbleRoll"> {{rollResult.total}} </span>
        </div>
        <div title="{{rollResult.result}}">
            <span> {{localize "abfalter.dialogs.fumbleSeverity"}} </span>
            <span class="fumbleRoll"> {{rollResult.rolledDice}} </span>
        </div>
    </div>
</div>


