<form>
    <div class="restOptionsContainer">
        <label>
            <span>Restoring health based on resting value: {{actor.system.regeneration.resting}}</span>
        </label>

        <label>
            <span>Restoring full Fatigue: {{actor.system.fatigue.max}}</span>
        </label>

        <label>
            <span>Restoring Zeon based on regen - maint. value: {{actor.system.mregen.finalMinusMaint}}</span>
        </label>

        <label>
            <span>Restoring Free PP based on total free pp value: {{actor.system.psychicPoint.max}}</span>
        </label>

        <label>
            <span>Restoring ki pools to max</span>
        </label>

        <label>
            <span>Clearing all temp fields to 0 (Except sec)</span>
        </label>
    </div>
</form>