<div>
    <div class="secondarychatmsg">
        <div>
            <span> {{rollResult.data.name}} </span>
        </div>
        <div title="{{rollResult.result}}">
            <span> {{label}} </span>
            <span class="{{rollResult.color}}"> {{rollResult.total}} </span>
        </div>
    </div>
    <div>
        {{#if rollResult.explode}}
        <button class="secOpenRoll" data-label="{{rollResult.rolledDice}}" data-label2="{{rollResult.total}}" data-label3="{{rollResult.doubles}}" data-label4="{{rollResult.openRange}}" data-label5="{{label}}" data-label6="{{rollResult.data.name}}"> Open Roll! </button>
        {{/if}}
        {{#if rollResult.fumble}}
        <span> Fumble Severity! </span>
        {{/if}}
    </div>
</div>



