<div class="abfalter secondarychatmsg" data-actor-id="{{actor._id}}">
    <div>
        <span> {{rollResult.data.name}} </span>
    </div>
    <div title="{{rollResult.result}}">
        <span> {{label}} </span>
        <span class="{{rollResult.color}}"> {{rollResult.total}} </span>
    </div>
    <div class="explodeButtons">
        {{#if rollResult.explode}}
        <button class="secOpenRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.openRoll"}} </button>
        {{/if}}
        {{#if rollResult.fumble}}
        <button class="secFumbleRoll" data-actor-id="{{actor._id}}"> {{localize "abfalter.dialogs.fumbleSeverity2"}} </button>
        {{/if}}
    </div>
</div>
