<div class="sheet-header baseAbfalter itemPage">
    <img class="item-img" src="{{document.img}}" data-action="editImage" data-edit="img" />

    <div class="header-details flexrow">
        <h1 class="itemName">
            <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.nameItem'}}" />
        </h1>

        {{> (concat "systems/abfalter/templates/item/partials/subHeader/" document.type ".hbs")}}
    </div>
</div>