<div class="abfalterChatHeader">
    <img class="abfalterChatPortrait" src="{{basicInfo.portrait}}">

    <div class="abfalterChatHeaderNames">
        <span class="abfalterChatActor">{{basicInfo.name}}</span>
        <span class="abfalterCharUser">{{basicInfo.userName}}</span>
    </div>
    
    <div class="abfResolutionTime"></div>
</div>
