<div class="tab armory">
    <div>
        <div class="wearArmor">
            <h2> {{localize "abfalter.armoryTab.wearArmor"}} </h2>
            <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.wearArmor.base" value="{{data.wearArmor.base}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.weararmorbonus" value="{{data.weararmorbonus}}" readonly /> </label>
            <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.wearArmor.spec" value="{{data.wearArmor.spec}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.wearArmor.temp" value="{{data.wearArmor.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.wearArmorFinal" value="{{data.wearArmorFinal}}" readonly /> </label>
            <h2> {{localize "abfalter.armoryTab.armorStats"}} </h2>
            <label> <span class="armorpenalty"> {{localize "abfalter.armoryTab.totalNatPen"}} </span> <input type="number" name="data.totalNatPen" value="{{data.totalNatPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalMovePen"}} </span> <input type="number" name="data.totalMovePen" value="{{data.totalMovePen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgBarrier"}} </span> <input type="number" name="data.otherStats.damageBarrier" value="{{data.otherStats.damageBarrier}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgRdc"}} </span> <input type="number" name="data.otherStats.dmgRdc" value="{{data.otherStats.dmgRdc}}" /> </label>
        </div>

        <div class="armor">
            <h2> {{localize "abfalter.armoryTab.armor"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
                <span> {{localize "abfalter.armoryTab.presence"}} </span>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
                <span> {{localize "abfalter.armoryTab.requir"}} </span>
                <span> {{localize "abfalter.armoryTab.penalty"}} </span>
            </div>
            <div class="items-list">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}"> 
                        <span> {{armorHelmet.name}} </span>
                        <span> {{data.quality}} </span>
                        <span> {{data.newPresence}} </span>
                        <span> {{data.newFortitude}} </span>
                        <span> {{data.newRequirement}} </span>
                        <span> {{data.newPerPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="items-list">
                {{#each armors as |armor id|}}
                <div class="armor-item item" data-item-id="{{armor._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armor.name}} </span>
                        <span> {{data.quality}} </span>
                        <span> {{data.newPresence}} </span>
                        <span> {{data.newFortitude}} </span>
                        <span> {{data.newRequirement}} </span>
                        <span> {{data.newMovePenalty}} / {{data.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.cut"}} </span>
                <span> {{localize "abfalter.armoryTab.imp"}} </span>
                <span> {{localize "abfalter.armoryTab.thr"}} </span>
                <span> {{localize "abfalter.armoryTab.heat"}} </span>
                <span> {{localize "abfalter.armoryTab.cold"}} </span>
                <span> {{localize "abfalter.armoryTab.ele"}} </span>
                <span> {{localize "abfalter.armoryTab.ene"}} </span>
                <span> {{localize "abfalter.armoryTab.spirit"}} </span>
            </div>
            <div class="items-list">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item2 item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armorHelmet.name}} </span>
                        <span> {{data.AT.newCut}} </span>
                        <span> {{data.AT.newImp}} </span>
                        <span> {{data.AT.newThr}} </span>
                        <span> {{data.AT.newHeat}} </span>
                        <span> {{data.AT.newCold}} </span>
                        <span> {{data.AT.newEle}} </span>
                        <span> {{data.AT.newEne}} </span>
                        <span> {{data.AT.newSpt}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="items-list">
                {{#each armors as |armor id|}}
                <div class="armor-item2 item" data-item-id="{{armor._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armor.name}} </span>
                        <span> {{data.AT.newCut}} </span>
                        <span> {{data.AT.newImp}} </span>
                        <span> {{data.AT.newThr}} </span>
                        <span> {{data.AT.newHeat}} </span>
                        <span> {{data.AT.newCold}} </span>
                        <span> {{data.AT.newEle}} </span>
                        <span> {{data.AT.newEne}} </span>
                        <span> {{data.AT.newSpt}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addArmor"}} </a>
                <a class="item-control item-create" title="Create item" data-type="armorHelmet"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addHelmet"}} </a>
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalHelmet"}} </span>
                <input type="number" name="data.helmArmorFinal.cut" value="{{data.helmArmorFinal.cut}}" />
                <input type="number" name="data.helmArmorFinal.imp" value="{{data.helmArmorFinal.imp}}" />
                <input type="number" name="data.helmArmorFinal.thr" value="{{data.helmArmorFinal.thr}}" />
                <input type="number" name="data.helmArmorFinal.heat" value="{{data.helmArmorFinal.heat}}" />
                <input type="number" name="data.helmArmorFinal.cold" value="{{data.helmArmorFinal.cold}}" />
                <input type="number" name="data.helmArmorFinal.ele" value="{{data.helmArmorFinal.ele}}" />
                <input type="number" name="data.helmArmorFinal.ene" value="{{data.helmArmorFinal.ene}}" />
                <input type="number" name="data.helmArmorFinal.spt" value="{{data.helmArmorFinal.spt}}" />
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalArmor"}} </span>
                <input type="number" name="data.armorFinal.cut" value="{{data.armorFinal.cut}}" />
                <input type="number" name="data.armorFinal.imp" value="{{data.armorFinal.imp}}" />
                <input type="number" name="data.armorFinal.thr" value="{{data.armorFinal.thr}}" />
                <input type="number" name="data.armorFinal.heat" value="{{data.armorFinal.heat}}" />
                <input type="number" name="data.armorFinal.cold" value="{{data.armorFinal.cold}}" />
                <input type="number" name="data.armorFinal.ele" value="{{data.armorFinal.ele}}" />
                <input type="number" name="data.armorFinal.ene" value="{{data.armorFinal.ene}}" />
                <input type="number" name="data.armorFinal.spt" value="{{data.armorFinal.spt}}" />
            </div>
        </div>
    </div>

    <div>
        <div class="prof">
            <h2> {{localize "abfalter.armoryTab.prof"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.profName"}} </span>
                <span> {{localize "abfalter.basicInfo.type"}} </span>
                <span> {{localize "abfalter.basicInfo.cost"}} </span>
            </div>
            <div class="items-list">
                {{#each proficiencies as |proficiency id|}}
                <div class="prof-item item" data-item-id="{{proficiency._id}}">
                    <div>
                        <label> <input class="prof-name inline-edit" data-field="name" type="text" value="{{proficiency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" /> </label>
                        <select name="proficiency.data.type" class="prof-type inline-edit" data-field="data.type">
                            {{#select proficiency.data.type}}
                            <option value="Starting"> {{localize "abfalter.armoryTab.starting"}} </option>
                            <option value="Similar"> {{localize "abfalter.armoryTab.similar"}} </option>
                            <option value="Mixed Class"> {{localize "abfalter.armoryTab.mixedClass"}} </option>
                            <option value="Different Type"> {{localize "abfalter.armoryTab.diffType"}} </option>
                            <option value="Whole Class"> {{localize "abfalter.armoryTab.wholeClass"}} </option>
                            <option value="Archetype"> {{localize "abfalter.armoryTab.archetype"}} </option>
                            <option value="Style"> {{localize "abfalter.armoryTab.style"}} </option>
                            <option value="Mystical"> {{localize "abfalter.armoryTab.mystical"}} </option>
                            <option value="Psychic"> {{localize "abfalter.armoryTab.psychic"}} </option>
                            <option value="Other"> {{localize "abfalter.armoryTab.other"}} </option>
                            {{/select}}
                        </select>
                        <input class="prof-cost inline-edit" data-field="data.cost" type="number" value="{{proficiency.data.cost}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="proficiency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addProf"}} </a>
        </div>

        <div class="weapons">
            <h2> {{localize "abfalter.armoryTab.weapons"}}  </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.finalDmg"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
            </div>
            <div class="items-list">
                {{#each weapons as |weapon id|}}
                <div class="weapon-item item" data-item-id="{{weapon._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{data.quality}} </span>
                        <span> {{weapon.name}} </span>
                        <span> {{data.fortitude}} </span>
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addWeapons"}} </a>
        </div>
    </div>

    <div>
        <div class="currency">
            <h2> {{localize "abfalter.armoryTab.currency"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
            </div>
            <label> <span> {{localize "abfalter.armoryTab.cCoin"}} </span> <input type="number" name="data.currency.copper" value="{{data.currency.copper}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.sCoin"}} </span> <input type="number" name="data.currency.silver" value="{{data.currency.silver}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.gCoin"}} </span> <input type="number" name="data.currency.gold" value="{{data.currency.gold}}" /> </label>
            <div class="items-list">
                {{#each currencies as |currency id|}}
                <div class="currency-item item" data-item-id="{{currency._id}}">
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{currency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="coin-quantity inline-edit" data-field="data.quantity" type="number" value="{{currency.data.quantity}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="currency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addCoin"}} </a>
            <h2> {{localize "abfalter.armoryTab.stats"}} </h2>
            <label> <span> {{localize "abfalter.armoryTab.otherArt"}} </span> <input type="number" name="data.otherStats.artPresence" value="{{data.otherStats.artPresence}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalArtPowEq"}} </span> <input type="number" name="x" value="0" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totWeight"}} </span> <input type="number" name="x" value="0" readonly /> </label>
        </div>

        <div class="inventory">
            <h2> {{localize "abfalter.armoryTab.inventory"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
            </div>
            <div class="items-list">
                {{#each inventories as |inventory id|}}
                <div class="inventory-item item" data-item-id="{{inventory._id}}">
                    <div>
                        <input class="inv-quantity inline-edit" data-field="data.quantity" type="number" value="{{inventory.data.quantity}}" />
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{inventory.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="inv-quality inline-edit" data-field="data.quality" type="text" value="{{inventory.data.quality}}" />
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="inventory"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addInventory"}} </a>
        </div>
    </div>
</div>