<div class="tab armory">
    <div>
        <div class="wearArmor">
            <h2> {{localize "abfalter.armoryTab.wearArmor"}} </h2>
            <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.wearArmor.base" value="{{data.wearArmor.base}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.weararmorbonus" value="{{data.weararmorbonus}}" readonly /> </label>
            <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.wearArmor.spec" value="{{data.wearArmor.spec}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.wearArmor.temp" value="{{data.wearArmor.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.wearArmorFinal" value="{{data.wearArmorFinal}}" readonly /> </label>
            <h2> {{localize "abfalter.armoryTab.armorStats"}} </h2>
            <label> <span class="armorpenalty"> {{localize "abfalter.armoryTab.totalNatPen"}} </span> <input type="number" name="data.totalNatPen" value="{{data.totalNatPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalPerPen"}} </span> <input type="number" name="data.totalPerPen" value="{{data.totalPerPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalMovePen"}} </span> <input type="number" name="data.totalMovePen" value="{{data.totalMovePen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgBarrier"}} </span> <input type="number" name="data.otherStats.damageBarrier" value="{{data.otherStats.damageBarrier}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgRdc"}} </span> <input type="number" name="data.otherStats.dmgRdc" value="{{data.otherStats.dmgRdc}}" /> </label>
        </div>

        <div class="armor">
            <h2> {{localize "abfalter.armoryTab.armor"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
                <span> {{localize "abfalter.armoryTab.presence"}} </span>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
                <span> {{localize "abfalter.armoryTab.requir"}} </span>
                <span> {{localize "abfalter.armoryTab.penalty"}} </span>
            </div>
            <div class="{{#if data.itemToggle.armorHelmet}}item-list{{/if}}">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armorHelmet.name}} </span>
                        <span> {{system.quality}} </span>
                        <span> {{system.newPresence}} </span>
                        <span> {{system.newFortitude}} </span>
                        <span> {{system.newRequirement}} </span>
                        <span> {{system.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="{{#if data.itemToggle.armor}}item-list{{/if}}">
                {{#each armors as |armor id|}}
                <div class="armor-item item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armor.name}} </span>
                        <span> {{system.quality}} </span>
                        <span> {{system.newPresence}} </span>
                        <span> {{system.newFortitude}} </span>
                        <span> {{system.newRequirement}} </span>
                        <span> {{system.newMovePenalty}} / {{system.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.cut"}} </span>
                <span> {{localize "abfalter.armoryTab.imp"}} </span>
                <span> {{localize "abfalter.armoryTab.thr"}} </span>
                <span> {{localize "abfalter.armoryTab.heat"}} </span>
                <span> {{localize "abfalter.armoryTab.cold"}} </span>
                <span> {{localize "abfalter.armoryTab.ele"}} </span>
                <span> {{localize "abfalter.armoryTab.ene"}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{localize "abfalter.armoryTab.spirit"}} </span>
                {{/if}}
            </div>
            <div class="items-list">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item2 item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armorHelmet.name}} </span>
                        <span> {{system.AT.newCut}} </span>
                        <span> {{system.AT.newImp}} </span>
                        <span> {{system.AT.newThr}} </span>
                        <span> {{system.AT.newHeat}} </span>
                        <span> {{system.AT.newCold}} </span>
                        <span> {{system.AT.newEle}} </span>
                        <span> {{system.AT.newEne}} </span>
                        {{#if system.spiritHomebrew}}
                        <span> {{system.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="items-list">
                {{#each armors as |armor id|}}
                <div class="armor-item2 item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armor.name}} </span>
                        <span> {{system.AT.newCut}} </span>
                        <span> {{system.AT.newImp}} </span>
                        <span> {{system.AT.newThr}} </span>
                        <span> {{system.AT.newHeat}} </span>
                        <span> {{system.AT.newCold}} </span>
                        <span> {{system.AT.newEle}} </span>
                        <span> {{system.AT.newEne}} </span>
                        {{#if system.spiritHomebrew}}
                        <span> {{system.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <div>
                    <a class="item-control item-create" data-type="armor"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addArmor"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.armor}}armorpenalty{{/if}}" data-label="data.itemToggle.armor" data-ability="{{data.itemToggle.armor}}"><i class="{{#if data.itemToggle.armor}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
                <div>
                    <a class="toggleBoolean {{#if data.itemToggle.armorHelmet}}armorpenalty{{/if}}" data-label="data.itemToggle.armorHelmet" data-ability="{{data.itemToggle.armorHelmet}}"><i class="{{#if data.itemToggle.armorHelmet}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                    <a class="item-control item-create" data-type="armorHelmet"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addHelmet"}} </a>
                </div>
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalHelmet"}} </span>
                <span> {{data.ahCutFinal}} </span>
                <span> {{data.ahImpFinal}} </span>
                <span> {{data.ahThrFinal}} </span>
                <span> {{data.ahHeatFinal}} </span>
                <span> {{data.ahColdFinal}} </span>
                <span> {{data.ahEleFinal}} </span>
                <span> {{data.ahEneFinal}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{data.ahSptFinal}} </span>
                {{/if}}
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalArmor"}} </span>
                <span> {{data.aCutFinal}} </span>
                <span> {{data.aImpFinal}} </span>
                <span> {{data.aThrFinal}} </span>
                <span> {{data.aHeatFinal}} </span>
                <span> {{data.aColdFinal}} </span>
                <span> {{data.aEleFinal}} </span>
                <span> {{data.aEneFinal}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{data.aSptFinal}} </span>
                {{/if}}
            </div>
        </div>
    </div>

    <div>
        <div class="prof">
            <h2> {{localize "abfalter.armoryTab.prof"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.profName"}} </span>
                <span> {{localize "abfalter.basicInfo.type"}} </span>
                <span> {{localize "abfalter.basicInfo.cost"}} </span>
            </div>
            <div class="{{#if data.itemToggle.proficiency}}item-list{{/if}}">
                {{#each proficiencies as |proficiency id|}}
                <div class="prof-item item delete-item" data-item-id="{{proficiency._id}}">
                    {{#if system.toggleItem}}
                    <div>
                        <label> <input class="prof-name inline-edit" data-field="name" type="text" value="{{proficiency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" /> </label>
                        <div class="csSelect">
                            <select name="proficiency.system.type" class="inline-edit" data-field="data.type">
                                {{#select proficiency.system.type}}
                                <option value="Starting"> {{localize "abfalter.armoryTab.starting"}} </option>
                                <option value="Similar"> {{localize "abfalter.armoryTab.similar"}} </option>
                                <option value="Mixed Class"> {{localize "abfalter.armoryTab.mixedClass"}} </option>
                                <option value="Different Type"> {{localize "abfalter.armoryTab.diffType"}} </option>
                                <option value="Whole Class"> {{localize "abfalter.armoryTab.wholeClass"}} </option>
                                <option value="Archetype"> {{localize "abfalter.armoryTab.archetype"}} </option>
                                <option value="Style"> {{localize "abfalter.armoryTab.style"}} </option>
                                <option value="Mystical"> {{localize "abfalter.armoryTab.mystical"}} </option>
                                <option value="Psychic"> {{localize "abfalter.armoryTab.psychic"}} </option>
                                <option value="Other"> {{localize "abfalter.armoryTab.other"}} </option>
                                {{/select}}
                            </select>
                        </div>
                        <input class="prof-cost inline-edit" data-field="system.cost" type="number" value="{{proficiency.system.cost}}" />
                    </div>
                    {{else}}
                    <div>
                        <span> {{proficiency.name}} </span>
                        <span> {{proficiency.system.type}} </span>
                        <span> {{proficiency.system.cost}} </span>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="proficiency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addProf"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.proficiency}}armorpenalty{{/if}}" data-label="data.itemToggle.proficiency" data-ability="{{data.itemToggle.proficiency}}"><i class="{{#if data.itemToggle.proficiency}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>

        <div class="weapons">
            <h2> {{localize "abfalter.armoryTab.weapons"}}  </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.finalDmg"}} </span>
            </div>
            <div class="{{#if data.itemToggle.weapon}}item-list{{/if}}">
                {{#each weapons as |weapon id|}}
                <div class="weapon-item item equip-item" data-item-id="{{weapon._id}}">
                    {{#if system.expand}}
                    <div>
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{weapon.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <div>
                        <button type="button" class="combatRoll" data-roll="{{weapon.system.finalAtk}}" data-label="{{localize "abfalter.basicInfo.attack"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                            {{localize "abfalter.basicInfo.attack"}}
                        </button>
                        <span> {{localize "abfalter.armoryTab.shieldNorm"}} </span>
                        <button type="button" class="combatRoll" data-roll="{{weapon.system.finalBlk}}" data-label="{{localize "abfalter.basicInfo.block"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                            {{localize "abfalter.basicInfo.block"}}
                        </button>
                        <button type="button" class="combatRoll" data-roll="{{weapon.system.finalDod}}" data-label="{{localize "abfalter.basicInfo.dodge"}}" data-type="weaponCombatRoll" data-ability="{{system.complex}}">
                            {{localize "abfalter.basicInfo.dodge"}}
                        </button>
                    </div>
                    <div>
                        <div>
                            <input class="inline-edit" data-field="system.attack" type="number" value="{{weapon.system.attack}}" />
                            <input class="inline-edit" data-field="system.finalAtk" type="number" value="{{weapon.system.finalAtk}}" readonly />
                        </div>
                        <div class="csSelect">
                            <select class="inline-edit" data-field="system.shield" data-dtype="text">
                                {{#select system.shield}}
                                <option value="none"> {{localize "abfalter.armoryTab.shieldNone"}} </option>
                                <option value="buckler"> {{localize "abfalter.armoryTab.shieldBuckler"}} </option>
                                <option value="shield"> {{localize "abfalter.armoryTab.shieldNorm"}} </option>
                                <option value="fShield"> {{localize "abfalter.armoryTab.shieldTower"}} </option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.block" type="number" value="{{weapon.system.block}}" />
                            <input class="inline-edit" data-field="system.finalBlk" type="number" value="{{weapon.system.finalBlk}}" readonly />
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.dodge" type="number" value="{{weapon.system.dodge}}" />
                            <input class="inline-edit" data-field="system.finalDod" type="number" value="{{weapon.system.finalDod}}" readonly />
                        </div>
                    </div>
                    <div>
                        <span> {{localize "abfalter.armoryTab.primary"}} </span>
                        <span> {{localize "abfalter.armoryTab.secondary"}} </span>
                        <span> {{localize "abfalter.armoryTab.damage"}} </span>
                        <span> {{localize "abfalter.basicInfo.final"}} </span>
                    </div>
                    <div>
                        <div class="csSelect">
                            <select class="inline-edit" data-field="system.primDmgT" data-dtype="text">
                                {{#select system.primDmgT}}
                                <option value="CUT"> {{localize "abfalter.armoryTab.cut"}} </option>
                                <option value="IMP"> {{localize "abfalter.armoryTab.imp"}} </option>
                                <option value="THR"> {{localize "abfalter.armoryTab.thr"}} </option>
                                <option value="HEAT"> {{localize "abfalter.armoryTab.heat"}} </option>
                                <option value="COLD"> {{localize "abfalter.armoryTab.cold"}} </option>
                                <option value="ELE"> {{localize "abfalter.armoryTab.ele"}} </option>
                                <option value="ENE"> {{localize "abfalter.armoryTab.ene"}} </option>
                                <option value="SPIRIT"> {{localize "abfalter.armoryTab.spirit"}} </option>
                                {{/select}}
                            </select>
                        </div>
                        <div class="csSelect">
                            <select class="inline-edit" data-field="system.secDmgT" data-dtype="text">
                                {{#select system.secDmgT}}
                                <option value="NONE"> {{localize "abfalter.armoryTab.na"}} </option>
                                <option value="CUT"> {{localize "abfalter.armoryTab.cut"}} </option>
                                <option value="IMP"> {{localize "abfalter.armoryTab.imp"}} </option>
                                <option value="THR"> {{localize "abfalter.armoryTab.thr"}} </option>
                                <option value="HEAT"> {{localize "abfalter.armoryTab.heat"}} </option>
                                <option value="COLD"> {{localize "abfalter.armoryTab.cold"}} </option>
                                <option value="ELE"> {{localize "abfalter.armoryTab.ele"}} </option>
                                <option value="ENE"> {{localize "abfalter.armoryTab.ene"}} </option>
                                <option value="SPIRIT"> {{localize "abfalter.armoryTab.spirit"}} </option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.baseDmg" type="number" value="{{weapon.system.baseDmg}}" />
                            <span> + </span>
                            <div class="csSelect">
                                <select class="inline-edit" data-field="system.dmgMod" data-dtype="text">
                                    {{#select system.dmgMod}}
                                    <option value="agi"> {{localize "abfalter.basicInfo.agility"}} </option>
                                    <option value="con"> {{localize "abfalter.basicInfo.consti"}} </option>
                                    <option value="str"> {{localize "abfalter.basicInfo.strength"}} </option>
                                    <option value="dex"> {{localize "abfalter.basicInfo.dexerity"}} </option>
                                    <option value="per"> {{localize "abfalter.basicInfo.perception"}} </option>
                                    <option value="int"> {{localize "abfalter.basicInfo.intell"}} </option>
                                    <option value="pow"> {{localize "abfalter.basicInfo.power"}} </option>
                                    <option value="wp"> {{localize "abfalter.basicInfo.willPower"}} </option>
                                    <option value="str2"> {{localize "abfalter.armoryTab.twoStr"}} </option>
                                    <option value="presence"> {{localize "abfalter.armoryTab.twoPresPow"}} </option>
                                    <option value="none"> {{localize "abfalter.basicInfo.none"}} </option>
                                    {{/select}}
                                </select>
                            </div>
                            <button type="button" class="psychicModule item-toggle {{#if system.toggle}}selected{{else}}notSelected{{/if}}" data-label="system.toggle" data-ability="{{system.toggle}}">
                                <span> {{localize "abfalter.armoryTab.twoHand"}} </span>
                            </button>
                            <span> = </span>
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.finalDmg" type="number" value="{{weapon.system.finalDmg}}" readonly/>
                        </div>
                    </div>
                    <div>
                        <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
                        <span> {{localize "abfalter.armoryTab.atPen"}} </span>
                        <span> {{localize "abfalter.armoryTab.breakage"}} </span>
                        <span> {{localize "abfalter.basicInfo.str"}} </span>
                        <button type="button" class="combatRoll" data-roll="{{weapon.system.finalBreakage}}" data-label="{{localize "abfalter.armoryTab.finBreakage"}}" data-type="breakageRoll">
                            {{localize "abfalter.armoryTab.finBreakage"}}
                        </button>
                    </div>
                    <div>
                        <div>
                            <input class="inline-edit" data-field="system.fortitude" type="number" value="{{weapon.system.fortitude}}" />
                            <input class="inline-edit" data-field="system.fortFinal" type="number" value="{{weapon.system.fortFinal}}" readonly />
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.atPen" type="number" value="{{weapon.system.atPen}}" />
                            <input class="inline-edit" data-field="system.atPenFinal" type="number" value="{{weapon.system.atPenFinal}}" readonly />
                        </div>
                        <input class="inline-edit" data-field="system.breakage" type="number" value="{{weapon.system.breakage}}" />
                        <div>
                            <span> + </span>
                            <input class="inline-edit" data-field="system.breakageStr" type="number" value="{{weapon.system.breakageStr}}" readonly />
                            <span> = </span>
                        </div>
                        <input class="inline-edit" data-field="system.finalBreakage" type="number" value="{{system.finalBreakage}}" readonly />
                    </div>
                    <div>
                        <span> {{localize "abfalter.armoryTab.quality"}} </span>
                        <span> {{localize "abfalter.armoryTab.presence"}} </span>
                        <span> {{localize "abfalter.armoryTab.shieldSpd"}} </span>
                        <span> {{localize "abfalter.armoryTab.finalSpd"}} </span>
                    </div>
                    <div>
                        <input class="inline-edit" data-field="system.quality" type="number" value="{{weapon.system.quality}}" />
                        <div>
                            <input class="inline-edit" data-field="system.presence" type="number" value="{{weapon.system.presence}}" />
                            <input class="inline-edit" data-field="system.preFinal" type="number" value="{{weapon.system.preFinal}}" readonly />
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.shieldSpeed" type="number" value="{{weapon.system.shieldSpeed}}" />
                            <input class="inline-edit" data-field="system.shieldFinalSpeed" type="number" value="{{weapon.system.shieldFinalSpeed}}" readonly />
                        </div>
                        <div>
                            <input class="inline-edit" data-field="system.speed" type="number" value="{{weapon.system.speed}}" />
                            <input class="inline-edit" data-field="system.FinalWeaponSpeed" type="number" value="{{weapon.system.FinalWeaponSpeed}}" readonly />
                        </div>
                        <button type="button" class="psychicModule item-toggle {{#if system.complex}}selected{{else}}notSelected{{/if}}" data-label="system.complex" data-ability="{{system.complex}}">
                            <span> {{localize "abfalter.armoryTab.complex"}} </span>
                        </button>
                    </div>
                    <textarea class="inline-edit" data-field="system.description">{{weapon.system.description}}</textarea>
                    {{else}}
                    <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{weapon.system.fortFinal}} </span>
                        <span> {{weapon.name}} </span>
                        <span> {{weapon.system.finalDmg}} </span>
                        <a class="item-expand"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="weapon"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addWeapons"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.weapon}}armorpenalty{{/if}}" data-label="data.itemToggle.weapon" data-ability="{{data.itemToggle.weapon}}"><i class="{{#if data.itemToggle.weapon}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>
    </div>

    <div>
        <div class="currency">
            <h2> {{localize "abfalter.armoryTab.currency"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
            </div>
            <div class="{{#if data.toggles.currencyHide}}hidden{{/if}}">
                <label> <span> {{localize "abfalter.armoryTab.cCoin"}} </span> <input type="number" name="data.currency.copper" value="{{data.currency.copper}}" /> </label>
                <label> <span> {{localize "abfalter.armoryTab.sCoin"}} </span> <input type="number" name="data.currency.silver" value="{{data.currency.silver}}" /> </label>
                <label> <span> {{localize "abfalter.armoryTab.gCoin"}} </span> <input type="number" name="data.currency.gold" value="{{data.currency.gold}}" /> </label>
            </div>
            <div class="{{#if data.itemToggle.currency}}item-list{{/if}}">
                {{#each currencies as |currency id|}}
                <div class="currency-item item delete-item" data-item-id="{{currency._id}}">
                    {{#if system.toggleItem}}
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{currency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                    </div>
                    {{else}}
                    <div>
                        <span> {{currency.name}} </span>
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{currency.system.quantity}}" />
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="currency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addCoin"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.currency}}armorpenalty{{/if}}" data-label="data.itemToggle.currency" data-ability="{{data.itemToggle.currency}}"><i class="{{#if data.itemToggle.currency}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>

        <div class="inventory">
            <h2> {{localize "abfalter.armoryTab.inventory"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
            </div>
            <div class="{{#if data.itemToggle.inventory}}item-list{{/if}}">
                {{#each inventories as |inventory id|}}
                <div class="inventory-item item normal-item" data-item-id="{{inventory._id}}">
                    {{#if system.expand}}
                    <div>
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <input class="inline-edit" data-field="system.quantity" type="number" value="{{inventory.system.quantity}}" />
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{inventory.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="inline-edit" data-field="system.quality" type="text" value="{{inventory.system.quality}}" />
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <textarea class="inline-edit" data-field="system.description">{{inventory.system.description}}</textarea>
                    {{else}}
                    <div>
                        <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{inventory.system.quantity}} </span>
                        <span> {{inventory.name}} </span>
                        <span> {{inventory.system.quality}} </span>
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="inventory"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addInventory"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.inventory}}armorpenalty{{/if}}" data-label="data.itemToggle.inventory" data-ability="{{data.itemToggle.inventory}}"><i class="{{#if data.itemToggle.inventory}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>
    </div>
</div>