<div class="tab armory">
    <div>
        <div class="wearArmor">
            <h2> {{localize "abfalter.armoryTab.wearArmor"}} </h2>
            <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.wearArmor.base" value="{{data.wearArmor.base}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.weararmorbonus" value="{{data.weararmorbonus}}" readonly /> </label>
            <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.wearArmor.spec" value="{{data.wearArmor.spec}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.wearArmor.temp" value="{{data.wearArmor.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.wearArmorFinal" value="{{data.wearArmorFinal}}" readonly /> </label>
            <h2> {{localize "abfalter.armoryTab.armorStats"}} </h2>
            <label> <span class="armorpenalty"> {{localize "abfalter.armoryTab.totalNatPen"}} </span> <input type="number" name="data.totalNatPen" value="{{data.totalNatPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalPerPen"}} </span> <input type="number" name="data.totalPerPen" value="{{data.totalPerPen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.totalMovePen"}} </span> <input type="number" name="data.totalMovePen" value="{{data.totalMovePen}}" readonly /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgBarrier"}} </span> <input type="number" name="data.otherStats.damageBarrier" value="{{data.otherStats.damageBarrier}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.dmgRdc"}} </span> <input type="number" name="data.otherStats.dmgRdc" value="{{data.otherStats.dmgRdc}}" /> </label>
        </div>

        <div class="armor">
            <h2> {{localize "abfalter.armoryTab.armor"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
                <span> {{localize "abfalter.armoryTab.presence"}} </span>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
                <span> {{localize "abfalter.armoryTab.requir"}} </span>
                <span> {{localize "abfalter.armoryTab.penalty"}} </span>
            </div>
            <div class="items-list">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat" title="Item to Chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armorHelmet.name}} </span>
                        <span> {{data.quality}} </span>
                        <span> {{data.newPresence}} </span>
                        <span> {{data.newFortitude}} </span>
                        <span> {{data.newRequirement}} </span>
                        <span> {{data.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="items-list">
                {{#each armors as |armor id|}}
                <div class="armor-item item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat" title="Item to Chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{armor.name}} </span>
                        <span> {{data.quality}} </span>
                        <span> {{data.newPresence}} </span>
                        <span> {{data.newFortitude}} </span>
                        <span> {{data.newRequirement}} </span>
                        <span> {{data.newMovePenalty}} / {{data.newNatPenalty}} </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.cut"}} </span>
                <span> {{localize "abfalter.armoryTab.imp"}} </span>
                <span> {{localize "abfalter.armoryTab.thr"}} </span>
                <span> {{localize "abfalter.armoryTab.heat"}} </span>
                <span> {{localize "abfalter.armoryTab.cold"}} </span>
                <span> {{localize "abfalter.armoryTab.ele"}} </span>
                <span> {{localize "abfalter.armoryTab.ene"}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{localize "abfalter.armoryTab.spirit"}} </span>
                {{/if}}
            </div>
            <div class="items-list">
                {{#each armorHelmets as |armorHelmet id|}}
                <div class="armorHelmet-item2 item equip-item" data-item-id="{{armorHelmet._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armorHelmet.name}} </span>
                        <span> {{data.AT.newCut}} </span>
                        <span> {{data.AT.newImp}} </span>
                        <span> {{data.AT.newThr}} </span>
                        <span> {{data.AT.newHeat}} </span>
                        <span> {{data.AT.newCold}} </span>
                        <span> {{data.AT.newEle}} </span>
                        <span> {{data.AT.newEne}} </span>
                        {{#if data.spiritHomebrew}}
                        <span> {{data.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="items-list">
                {{#each armors as |armor id|}}
                <div class="armor-item2 item equip-item" data-item-id="{{armor._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <span> {{armor.name}} </span>
                        <span> {{data.AT.newCut}} </span>
                        <span> {{data.AT.newImp}} </span>
                        <span> {{data.AT.newThr}} </span>
                        <span> {{data.AT.newHeat}} </span>
                        <span> {{data.AT.newCold}} </span>
                        <span> {{data.AT.newEle}} </span>
                        <span> {{data.AT.newEne}} </span>
                        {{#if data.spiritHomebrew}}
                        <span> {{data.AT.newSpt}} </span>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addArmor"}} </a>
                <a class="item-control item-create" title="Create item" data-type="armorHelmet"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addHelmet"}} </a>
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalHelmet"}} </span>
                <span> {{data.ahCutFinal}} </span>
                <span> {{data.ahImpFinal}} </span>
                <span> {{data.ahThrFinal}} </span>
                <span> {{data.ahHeatFinal}} </span>
                <span> {{data.ahColdFinal}} </span>
                <span> {{data.ahEleFinal}} </span>
                <span> {{data.ahEneFinal}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{data.ahSptFinal}} </span>
                {{/if}}
            </div>
            <div>
                <span> {{localize "abfalter.armoryTab.finalArmor"}} </span>
                <span> {{data.aCutFinal}} </span>
                <span> {{data.aImpFinal}} </span>
                <span> {{data.aThrFinal}} </span>
                <span> {{data.aHeatFinal}} </span>
                <span> {{data.aColdFinal}} </span>
                <span> {{data.aEleFinal}} </span>
                <span> {{data.aEneFinal}} </span>
                {{#if data.toggles.spiritDamageType}}
                <span> {{data.aSptFinal}} </span>
                {{/if}}
            </div>
        </div>
    </div>

    <div>
        <div class="prof">
            <h2> {{localize "abfalter.armoryTab.prof"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.profName"}} </span>
                <span> {{localize "abfalter.basicInfo.type"}} </span>
                <span> {{localize "abfalter.basicInfo.cost"}} </span>
            </div>
            <div class="items-list">
                {{#each proficiencies as |proficiency id|}}
                <div class="prof-item item delete-item" data-item-id="{{proficiency._id}}">
                    <div>
                        <label> <input class="prof-name inline-edit" data-field="name" type="text" value="{{proficiency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" /> </label>
                        <select name="proficiency.data.type" class="prof-type inline-edit" data-field="data.type">
                            {{#select proficiency.data.type}}
                            <option value="Starting"> {{localize "abfalter.armoryTab.starting"}} </option>
                            <option value="Similar"> {{localize "abfalter.armoryTab.similar"}} </option>
                            <option value="Mixed Class"> {{localize "abfalter.armoryTab.mixedClass"}} </option>
                            <option value="Different Type"> {{localize "abfalter.armoryTab.diffType"}} </option>
                            <option value="Whole Class"> {{localize "abfalter.armoryTab.wholeClass"}} </option>
                            <option value="Archetype"> {{localize "abfalter.armoryTab.archetype"}} </option>
                            <option value="Style"> {{localize "abfalter.armoryTab.style"}} </option>
                            <option value="Mystical"> {{localize "abfalter.armoryTab.mystical"}} </option>
                            <option value="Psychic"> {{localize "abfalter.armoryTab.psychic"}} </option>
                            <option value="Other"> {{localize "abfalter.armoryTab.other"}} </option>
                            {{/select}}
                        </select>
                        <input class="prof-cost inline-edit" data-field="data.cost" type="number" value="{{proficiency.data.cost}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="proficiency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addProf"}} </a>
        </div>

        <div class="weapons">
            <h2> {{localize "abfalter.armoryTab.weapons"}}  </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.finalDmg"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.fortitude"}} </span>
            </div>
            <div class="items-list">
                {{#each weapons as |weapon id|}}
                <div class="weapon-item item equip-item" data-item-id="{{weapon._id}}">
                    <div class="{{#if data.equipped}}equipped{{else}}notEquipped{{/if}}">
                        <a class="item-control item-chat" title="Item to Chat"><i class="fas fa-comment-dots"></i></a>
                        <span> {{data.quality}} </span>
                        <span> {{weapon.name}} </span>
                        <span> {{data.fortitude}} </span>
                        <a class="item-expand" title="Expand Item"><i class="{{#if data.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <div class="{{#if data.expand}}expand{{else}}notExpand{{/if}}">
                        <span> Stuff </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addWeapons"}} </a>
        </div>
    </div>

    <div>
        <div class="currency">
            <h2> {{localize "abfalter.armoryTab.currency"}} </h2>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
            </div>
            <label> <span> {{localize "abfalter.armoryTab.cCoin"}} </span> <input type="number" name="data.currency.copper" value="{{data.currency.copper}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.sCoin"}} </span> <input type="number" name="data.currency.silver" value="{{data.currency.silver}}" /> </label>
            <label> <span> {{localize "abfalter.armoryTab.gCoin"}} </span> <input type="number" name="data.currency.gold" value="{{data.currency.gold}}" /> </label>
            <div class="items-list">
                {{#each currencies as |currency id|}}
                <div class="currency-item item delete-item" data-item-id="{{currency._id}}">
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{currency.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="coin-quantity inline-edit" data-field="data.quantity" type="number" value="{{currency.data.quantity}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="currency"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addCoin"}} </a>
        </div>

        <div class="inventory">
            <h2> {{localize "abfalter.armoryTab.inventory"}} </h2>
            <div>
                <span> {{localize "abfalter.armoryTab.quantity"}} </span>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.armoryTab.quality"}} </span>
            </div>
            <div class="items-list">
                {{#each inventories as |inventory id|}}
                <div class="inventory-item item normal-item" data-item-id="{{inventory._id}}">
                    <div>
                        <a class="item-control item-chat" title="Item to Chat"><i class="fas fa-comment-dots"></i></a>
                        <input class="inv-quantity inline-edit" data-field="data.quantity" type="number" value="{{inventory.data.quantity}}" />
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{inventory.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="inv-quality inline-edit" data-field="data.quality" type="text" value="{{inventory.data.quality}}" />
                        <a class="item-expand" title="Expand Item"><i class="{{#if data.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <div class="{{#if data.expand}}expand{{else}}notExpand{{/if}}">
                        <span> Stuff </span>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="inventory"><i class="fas fa-plus"></i> {{localize "abfalter.armoryTab.addInventory"}} </a>
        </div>
    </div>
</div>