<div class="tab ki">
    <div class="kiabilities">
        <h2> Ki Abilities </h2>
        <span> ki abilities here</span>
        <h2> Nemesis Abilities </h2>
        <span> nemesis abilities here</span>
    </div>

    <div class="s5">
        <div>
            <div class="kipool">
                <h2> Ki Pools </h2>
                <span> box switch normal and unified </span>
            </div>

            <div class="mk">
                <h2> Martial Knowledge </h2>

                <div class="kisealmast">
                    <h2> Ki Seals Mastery </h2>
                </div>
            </div>
        </div>

        <div>
            <div class="arsmagnus">
                <h2> Ars Magnus </h2>
                <span> Item here </span>
            </div>

            <div class="limits">
                <h2> Limits </h2>
                <span> Select List </span>
            </div>
        </div>

        <div class="martialarts">
            <h2> Martial Arts </h2>
            <span> Item here </span>
            <span> Unarmed Damage </span>
        </div>

        <div class="kiseals">
            <h2> Ki Seals Creatures </h2>
            <span> Item here </span>
        </div>

        <div class="kitech">
            <h2> Ki Techniques </h2>
            <span> Item here </span>
        </div>
    </div>
</div>