<div class="tab magic">
    <div>
        <div class="mproj">
            <h2>
                {{localize "abfalter.magicTab.mproj"}}
                <label class="expand-box">
                    <a class="toggleBoolean {{#if data.mproj.status}}showOpacity{{/if}}" data-label="data.mproj.status" data-ability="{{data.mproj.status}}"><i class="{{#if data.mproj.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </label>
            </h2>
            {{#if data.mproj.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.mproj.base" value="{{data.mproj.base}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.mproj.spec" value="{{data.mproj.spec}}" /> </label>
                <label> <span> {{localize "abfalter.magicTab.imbalance"}} </span> <input type="number" name="data.mproj.imbalance" value="{{data.mproj.imbalance}}" /> </label>
                <div>
                    <label>
                        <button type="button" class="mastery-box {{#if data.mproj.masteryOff}}mastered{{else}}notMastered{{/if}}" data-label="data.mproj.masteryOff" data-ability="{{data.mproj.masteryOff}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                    <label>
                        <button type="button" class="mastery-box {{#if data.mproj.masteryDef}}mastered{{else}}notMastered{{/if}}" data-label="data.mproj.masteryDef" data-ability="{{data.mproj.masteryDef}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                </div>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.mproj.temp" value="{{data.mproj.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.mprojfinal" value="{{data.mprojfinal}}" readonly /> </label>
            <div class="mProjButton">
                {{#if data.toggles.magicAtkModule}}
                <button type="button" class="combatRoll" data-roll="{{data.atkfinal}}" data-label="{{localize "abfalter.basicInfo.attack"}}" data-type="combatRoll" data-ability="{{data.combatstats.atkMastery}}">
                    <span> {{localize "abfalter.basicInfo.attack"}} </span> <span> {{data.atkfinal}} </span>
                </button>
                {{else}}
                <button type="button" class="combatRoll" data-roll="{{data.mprojfinaloff}}" data-label="Magic Proj. Offensive" data-type="combatRoll" data-ability="{{data.mproj.masteryOff}}"> 
                    <span> {{localize "abfalter.magicTab.offensive"}} </span> <span> {{data.mprojfinaloff}} </span>
                </button>
                {{/if}}
                <!--
    -->
                {{#if data.toggles.magicDefModule}}
                {{#if data.toggles.magicDodgeModule}}
                <button type="button" class="combatRoll" data-roll="{{data.dodfinal}}" data-label="{{localize "abfalter.basicInfo.dodge"}}" data-type="combatRoll" data-ability="{{data.combatstats.dodMastery}}">
                    <span> {{localize "abfalter.basicInfo.dodge"}} </span> <span> {{data.dodfinal}} </span>
                </button>
                {{else}}
                <button type="button" class="combatRoll" data-roll="{{data.blkfinal}}" data-label="{{localize "abfalter.basicInfo.block"}}" data-type="combatRoll" data-ability="{{data.combatstats.blkMastery}}">
                    <span> {{localize "abfalter.basicInfo.block"}} </span> <span> {{data.blkfinal}} </span>
                </button>
                {{/if}}
                {{else}}
                <button type="button" class="combatRoll" data-roll="{{data.mprojfinaldef}}" data-label="Magic Proj. Defensive" data-type="combatRoll" data-ability="{{data.mproj.masteryDef}}">
                    <span> {{localize "abfalter.magicTab.defensive"}} </span> <span> {{data.mprojfinaldef}} </span>
                </button>
                {{/if}}
            </div>
            <h3> {{localize "abfalter.magicTab.mtheory"}} </h3>
            <div class="csSelect2">
                <label>
                    <select name="data.mproj.mtheory" data-dtype="String">
                        {{#select data.mproj.mtheory}}
                        <option value="Standard"> {{localize "abfalter.magicTab.standard"}} </option>
                        <option value="Onmyodo"> Onmyodo </option>
                        <option value="Vodoun"> Vodoun </option>
                        <option value="Shamanism"> Shamanism </option>
                        <option value="Natural Magic"> Natural Magic </option>
                        {{/select}}
                    </select>
                </label>
            </div>
        </div><!--Magic Projection-->

        <div class="maccu">
            <h2> {{localize "abfalter.magicTab.maccu"}} </h2>
            <div>
                <div class="maccu2">
                    <h3>
                        {{localize "abfalter.magicTab.maccua"}}
                        <label class="expand-box">
                            <a class="toggleBoolean {{#if data.maccu.status}}showOpacity{{/if}}" data-label="data.maccu.status" data-ability="{{data.maccu.status}}"><i class="{{#if data.maccu.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </label>
                    </h3>
                    {{#if data.maccu.status}}
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.maccu.base" value="{{data.maccu.base}}" /> </label>
                        <label> <span> {{localize "abfalter.magicTab.frompow"}} </span> <input type="number" name="data.maccupow" value="{{data.maccupow}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.mult"}} </span> <input type="number" name="data.maccu.mult" value="{{data.maccu.mult}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.maccu.spec" value="{{data.maccu.spec}}" /> </label>
                    </div>
                    {{/if}}
                    <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.maccu.temp" value="{{data.maccu.temp}}" /> </label>
                    <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.maccufinal" value="{{data.maccufinal}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.basicInfo.actual"}} </span> <input type="number" name="data.maccu.actual" value="{{data.maccu.actual}}" /> </label>
                    <div>
                        <button type="button" class="maccuHalf" data-ability="{{data.maccuhalffinal}}">
                            <span> {{localize "abfalter.basicInfo.half"}} </span>
                        </button><!--
                        --><button type="button" class="maccuFull" data-ability="{{data.maccufinal}}">
                            <span> {{localize "abfalter.basicInfo.full"}} </span>
                        </button>
                    </div>
                </div><!--Accumulation-->
                <div class="mregen2">
                    <h3>
                        {{localize "abfalter.magicTab.maccur"}}
                        <label class="expand-box">
                            <a class="toggleBoolean {{#if data.mregen.status}}showOpacity{{/if}}" data-label="data.mregen.status" data-ability="{{data.mregen.status}}"><i class="{{#if data.mregen.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </label>
                    </h3>
                    {{#if data.mregen.status}}
                    <div>
                        <label> <span> {{localize "abfalter.magicTab.regenmult"}} </span> <input type="number" name="data.mregen.regenmult" value="{{data.mregen.regenmult}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.mregen.spec" value="{{data.mregen.spec}}" /> </label>
                        <label> <span> {{localize "abfalter.magicTab.recoverymult"}} </span> <input type="number" name="data.mregen.recoverymult" value="{{data.mregen.recoverymult}}" /> </label>
                    </div>
                    {{/if}}
                    <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.mregen.temp" value="{{data.mregen.temp}}" /> </label>
                    <label> <span> {{localize "abfalter.magicTab.finalregen"}} </span> <input type="number" name="data.mregenfinal" value="{{data.mregenfinal}}" readonly /> </label>
                    <div>
                        <button type="button" class="mregenFull" data-ability="{{data.mregenfinal}}" data-ability2="{{data.zeonfinal}}">
                            <span> {{localize "abfalter.basicInfo.full"}} </span>
                        </button>
                    </div>
                </div><!--Regeneration-->
            </div>
        </div><!--Magic Accumulation-->

        <div class="zeon">
            <h2>
                {{localize "abfalter.magicTab.zeon"}}
                <label class="expand-box">
                    <a class="toggleBoolean {{#if data.zeon.status}}showOpacity{{/if}}" data-label="data.zeon.status" data-ability="{{data.zeon.status}}"><i class="{{#if data.zeon.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </label>
            </h2>
            {{#if data.zeon.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.zeon.base" value="{{data.zeon.base}}" /> </label>
                <label> <span> {{localize "abfalter.magicTab.frompow"}} </span> <input type="number" name="data.zeonpow" value="{{data.zeonpow}}" readonly /> </label>
                <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.zeonbonus" value="{{data.zeonbonus}}" readonly /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.zeon.spec" value="{{data.zeon.spec}}" /> </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.zeon.temp" value="{{data.zeon.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.zeonfinal" value="{{data.zeonfinal}}" readonly /> </label>
            <label> <span> {{localize "abfalter.basicInfo.actual"}} </span> <input type="number" name="data.zeon.actual" value="{{data.zeon.actual}}" /> </label>
            <div class="minnate">
                <h3> {{localize "abfalter.magicTab.minnate"}} </h3>
                <div>
                    <div>
                        <span> {{localize "abfalter.basicInfo.bonus"}} </span>
                        <label> <input type="number" name="data.zeon.minnate" value="{{data.zeon.minnate}}" /> </label>
                    </div>
                    <div>
                        <span> {{localize "abfalter.basicInfo.final"}} </span>
                        <label> <input type="number" name="data.minnatefinal" value="{{data.minnatefinal}}" readonly /> </label>
                    </div>
                </div>
            </div>
        </div><!--Zeon-->
    </div>

    <div class="s1">
        <div>
            <div class="s2">
                <div class="mlevels">
                    <h2>
                        {{localize "abfalter.magicTab.mLevels"}}
                        <label class="expand-box">
                            <a class="toggleBoolean {{#if data.mlevel.status}}showOpacity{{/if}}" data-label="data.mlevel.status" data-ability="{{data.mlevel.status}}"><i class="{{#if data.mlevel.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </label>
                    </h2>
                    {{#if data.mlevel.status}}
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.mlevel.base" value="{{data.mlevel.base}}" /> </label>
                        <label> <span> {{localize "abfalter.magicTab.fromInt"}} </span> <input type="number" name="data.mlevelint" value="{{data.mlevelint}}" readonly /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.mlevel.spec" value="{{data.mlevel.spec}}" /> </label>
                    </div>
                    {{/if}}
                    <label> <span> {{localize "abfalter.basicInfo.extra"}} </span> <input type="number" name="data.mlevel.temp" value="{{data.mlevel.temp}}" /> </label>
                    <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.mlevelfinal" value="{{data.mlevelfinal}}" readonly /> </label>
                    <label> <span> {{localize "abfalter.basicInfo.used"}} </span> <input type="number" name="data.mlevelused" value="{{data.mlevelused}}" readonly /> </label>
                </div>

                <div class="spellPath">
                    <h2> {{localize "abfalter.magicTab.spellPath"}} </h2>
                    <div>
                        <span> {{localize "abfalter.magicTab.spellPath"}} </span>
                        <span> {{localize "abfalter.basicInfo.level"}} </span>
                    </div>
                    <div class="{{#if data.itemToggle.spellPath}}item-list{{/if}}">
                        {{#each spellPaths as |spellPath id|}}
                        <div class="spellPath-item item delete-item" data-item-id="{{spellPath._id}}">
                            {{#if system.toggleItem}}
                            <div>
                                <input class="inline-edit" data-field="name" type="text" value="{{spellPath.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                                <input class="inline-edit" data-field="system.level" type="number" value="{{spellPath.system.level}}" />
                            </div>
                            {{else}}
                            <div>
                                <span> {{spellPath.name}} </span>
                                <span> {{spellPath.system.level}} </span>
                            </div>
                            {{/if}}
                        </div>
                        {{/each}}
                    </div>
                    <div>
                        <a class="item-create" data-type="spellPath"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addSpellPath"}} </a>
                        <a class="toggleBoolean {{#if data.itemToggle.spellPath}}armorpenalty{{/if}}" data-label="data.itemToggle.spellPath" data-ability="{{data.itemToggle.spellPath}}"><i class="{{#if data.itemToggle.spellPath}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                    </div>
                </div>
            </div>

            <div class="summoning">
                <h2> {{localize "abfalter.magicTab.summoning"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.ability"}} </span>
                    <span> {{localize "abfalter.basicInfo.base"}} </span>
                    <span> {{localize "abfalter.basicInfo.class"}} </span>
                    <span> {{localize "abfalter.basicInfo.spec"}} </span>
                    <span> {{localize "abfalter.basicInfo.final"}} </span>
                </div>
                <div>
                    <button type="button" class="rollable" data-roll="{{data.summonfinal}}" data-label="{{localize "abfalter.magicTab.summon"}}" data-type="summoningRoll" data-ability="{{data.summoning.summon.mastery}}">
                        <span> {{localize "abfalter.magicTab.summon"}} </span>
                    </button>
                    <input type="number" name="data.summoning.summon.base" value="{{data.summoning.summon.base}}" />
                    <input type="number" name="data.summonbonus" value="{{data.summonbonus}}" readonly />
                    <input type="number" name="data.summoning.summon.spec" value="{{data.summoning.summon.spec}}" />
                    <input type="number" name="data.summonfinal" value="{{data.summonfinal}}" readonly />
                    <label>
                        <button type="button" class="mastery-box {{#if data.summoning.summon.mastery}}mastered{{else}}notMastered{{/if}}" data-label="data.summoning.summon.mastery" data-ability="{{data.summoning.summon.mastery}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                </div>
                <div>
                    <button type="button" class="rollable" data-roll="{{data.controlfinal}}" data-label="{{localize "abfalter.magicTab.control"}}" data-type="summoningRoll" data-ability="{{data.summoning.control.mastery}}">
                        <span> {{localize "abfalter.magicTab.control"}} </span>
                    </button>
                    <input type="number" name="data.summoning.control.base" value="{{data.summoning.control.base}}" />
                    <input type="number" name="data.controlbonus" value="{{data.controlbonus}}" readonly />
                    <input type="number" name="data.summoning.control.spec" value="{{data.summoning.control.spec}}" />
                    <input type="number" name="data.controlfinal" value="{{data.controlfinal}}" readonly />
                    <label>
                        <button type="button" class="mastery-box {{#if data.summoning.control.mastery}}mastered{{else}}notMastered{{/if}}" data-label="data.summoning.control.mastery" data-ability="{{data.summoning.control.mastery}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                </div>
                <div>
                    <button type="button" class="rollable" data-roll="{{data.bindfinal}}" data-label="{{localize "abfalter.magicTab.bind"}}" data-type="summoningRoll" data-ability="{{data.summoning.bind.mastery}}">
                        <span> {{localize "abfalter.magicTab.bind"}} </span>
                    </button>
                    <input type="number" name="data.summoning.bind.base" value="{{data.summoning.bind.base}}" />
                    <input type="number" name="data.bindbonus" value="{{data.bindbonus}}" readonly />
                    <input type="number" name="data.summoning.bind.spec" value="{{data.summoning.bind.spec}}" />
                    <input type="number" name="data.bindfinal" value="{{data.bindfinal}}" readonly />
                    <label>
                        <button type="button" class="mastery-box {{#if data.summoning.bind.mastery}}mastered{{else}}notMastered{{/if}}" data-label="data.summoning.bind.mastery" data-ability="{{data.summoning.bind.mastery}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                </div>
                <div>
                    <button type="button" class="rollable" data-roll="{{data.banishfinal}}" data-label="{{localize "abfalter.magicTab.banish"}}" data-type="summoningRoll" data-ability="{{data.summoning.banish.mastery}}">
                        <span> {{localize "abfalter.magicTab.banish"}} </span>
                    </button>
                    <input type="number" name="data.summoning.banish.base" value="{{data.summoning.banish.base}}" />
                    <input type="number" name="data.banishbonus" value="{{data.banishbonus}}" readonly />
                    <input type="number" name="data.summoning.banish.spec" value="{{data.summoning.banish.spec}}" />
                    <input type="number" name="data.banishfinal" value="{{data.banishfinal}}" readonly />
                    <label>
                        <button type="button" class="mastery-box {{#if data.summoning.banish.mastery}}mastered{{else}}notMastered{{/if}}" data-label="data.summoning.banish.mastery" data-ability="{{data.summoning.banish.mastery}}">
                            <span> {{localize "abfalter.basicInfo.mastery"}} </span>
                        </button>
                    </label>
                </div>
            </div>

            <div class="turnDayMaint">
                <h2> {{localize "abfalter.magicTab.turnMaint"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.magicTab.spellCost"}} </span>
                    <span> {{localize "abfalter.magicTab.zeon"}} </span>
                </div>
                <div class="{{#if data.itemToggle.turnMaint}}item-list{{/if}}">
                    {{#each turnMaints as |turnMaint id|}}
                    <div class="turnMaint-item item equip-item" data-item-id="{{turnMaint._id}}">
                        {{#if system.expand}}
                        <div>
                            <input class="inline-edit" data-field="name" type="text" value="{{turnMaint.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input class="inline-edit" data-field="system.cost" type="number" value="{{turnMaint.system.cost}}" />
                            <input class="inline-edit" data-field="system.zeon" type="number" value="{{turnMaint.system.zeon}}" />
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <textarea class="inline-edit" data-field="system.description">{{turnMaint.system.description}}</textarea>
                        {{else}}
                        <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                            <span> {{turnMaint.name}} </span>
                            <span> {{turnMaint.system.cost}} </span>
                            <span> {{turnMaint.system.zeon}} </span>
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <span> {{localize "abfalter.magicTab.totalZeon"}} {{data.turnMaintRemove}} </span>
                    <button type="button" class="removeMaint" data-ability="{{data.turnMaintRemove}}">
                        <span> {{localize "abfalter.basicInfo.remove"}} </span>
                    </button>
                </div>
                <div>
                    <a class="item-create" data-type="turnMaint"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addTurnMaint"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.turnMaint}}armorpenalty{{/if}}" data-label="data.itemToggle.turnMaint" data-ability="{{data.itemToggle.turnMaint}}"><i class="{{#if data.itemToggle.turnMaint}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>

            <div class="turnDayMaint">
                <h2> {{localize "abfalter.magicTab.dailyMaint"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.magicTab.spellCost"}} </span>
                    <span> {{localize "abfalter.magicTab.zeon"}} </span>
                </div>
                <div class="{{#if data.itemToggle.dailyMaint}}item-list{{/if}}">
                    {{#each dailyMaints as |dailyMaint id|}}
                    <div class="dailyMaint-item item equip-item" data-item-id="{{dailyMaint._id}}">
                        {{#if system.expand}}
                        <div>
                            <input class="inline-edit" data-field="name" type="text" value="{{dailyMaint.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input class="inline-edit" data-field="system.cost" type="number" value="{{turnMaint.system.cost}}" />
                            <input class="inline-edit" data-field="system.zeon" type="number" value="{{dailyMaint.system.zeon}}" />
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <textarea class="inline-edit" data-field="system.description">{{dailyMaint.system.description}}</textarea>
                        {{else}}
                        <div class="{{#if system.equipped}}equipped{{else}}notEquipped{{/if}}">
                            <span> {{dailyMaint.name}} </span>
                            <span> {{turnMaint.system.cost}} </span>
                            <span> {{dailyMaint.system.zeon}} </span>
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <span> {{localize "abfalter.magicTab.totalZeon"}} {{data.dayMaintRemove}} </span>
                    <button type="button" class="removeMaint" data-ability="{{data.dayMaintRemove}}">
                        <span> {{localize "abfalter.basicInfo.remove"}} </span>
                    </button>
                </div>
                <div>
                    <a class="item-create" data-type="dailyMaint"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addDailyMaint"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.dailyMaint}}armorpenalty{{/if}}" data-label="data.itemToggle.dailyMaint" data-ability="{{data.itemToggle.dailyMaint}}"><i class="{{#if data.itemToggle.dailyMaint}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>
        </div>

        <div>
            <div class="spells">
                <h2> {{localize "abfalter.magicTab.spellBook"}} </h2>
                <div class="{{#if data.itemToggle.spell}}item-list{{/if}}">
                    {{#each spells as |spell id|}}
                    <div class="spell-item item normal-item" data-item-id="{{spell._id}}">
                        {{#if system.expand}}
                        <div>
                            <div>
                                <input class="item-name inline-edit" data-field="name" type="text" value="{{spell.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                                <input class="inline-edit" data-field="system.path" type="text" value="{{spell.system.path}}" />
                                <input class="inline-edit" data-field="system.level" type="number" value="{{spell.system.level}}" />
                                <a class="item-expand :"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                            </div>
                            <div>
                                <span> {{localize "abfalter.basicInfo.name"}} </span>
                                <span> {{localize "abfalter.magicTab.path"}} </span>
                                <span> {{localize "abfalter.basicInfo.level"}} </span>
                            </div>
                        </div>
                        <div>
                            <label>
                                <span> {{localize "abfalter.basicInfo.action"}} </span>
                                <select class="inline-edit" data-field="system.action" data-dtype="String">
                                    {{#select system.action}}
                                    <option value="Active"> {{localize "abfalter.basicInfo.active"}} </option>
                                    <option value="Passive"> {{localize "abfalter.basicInfo.passive"}} </option>
                                    {{/select}}
                                </select>
                            </label>
                            <label>
                                <span> {{localize "abfalter.basicInfo.type"}} </span>
                                <select class="inline-edit" data-field="system.type" data-dtype="String">
                                    {{#select system.type}}
                                    <option value="Attack"> {{localize "abfalter.basicInfo.attack"}} </option>
                                    <option value="Defense"> {{localize "abfalter.basicInfo.defense"}} </option>
                                    <option value="Spiritual"> {{localize "abfalter.magicTab.spiritual"}} </option>
                                    <option value="Effect"> {{localize "abfalter.magicTab.effect"}} </option>
                                    <option value="Automatic"> {{localize "abfalter.magicTab.automatic"}} </option>
                                    <option value="Detection"> {{localize "abfalter.magicTab.detection"}} </option>
                                    {{/select}}
                                </select>
                            </label>
                            <label>
                                <span> {{localize "abfalter.psychicTab.pproj"}} </span>
                                <select class="inline-edit" data-field="system.projection" data-dtype="String">
                                    {{#select system.projection}}
                                    <option value="Offensive"> {{localize "abfalter.magicTab.offensive1"}} </option>
                                    <option value="Defensive"> {{localize "abfalter.magicTab.defensive1"}} </option>
                                    {{/select}}
                                </select>
                            </label>
                        </div>
                        <div>
                            <label>
                                <span> {{localize "abfalter.magicTab.maintType"}} </span>
                                <select class="inline-edit" data-field="system.mainttype" data-dtype="String">
                                    {{#select system.mainttype}}
                                    <option value="None"> {{localize "abfalter.basicInfo.none"}} </option>
                                    <option value="Turn"> {{localize "abfalter.magicTab.turn"}} </option>
                                    <option value="Daily"> {{localize "abfalter.magicTab.daily"}} </option>
                                    {{/select}}
                                </select>
                            </label>
                            <label>
                                <span> {{localize "abfalter.magicTab.bought"}} </span>
                                <select class="inline-edit" data-field="system.bought" data-dtype="String">
                                    {{#select system.bought}}
                                    <option value="SpellPath"> {{localize "abfalter.magicTab.spellPath1"}} </option>
                                    <option value="Single"> {{localize "abfalter.magicTab.single"}} </option>
                                    <option value="Not Bought"> {{localize "abfalter.magicTab.notBought"}} </option>
                                    {{/select}}
                                </select>
                            </label>
                            <label> <span> {{localize "abfalter.basicInfo.cost"}} </span> <input type="number" class="inline-edit" data-field="system.cost" value="{{system.cost}}" /> </label>
                        </div>
                        <textarea class="inline-edit" data-field="system.description">{{spell.system.description}}</textarea>
                        <div>
                            <span> {{localize "abfalter.magicTab.rank"}} </span>
                            <span> {{localize "abfalter.magicTab.req"}} </span>
                            <span> {{localize "abfalter.magicTab.zeon"}} </span>
                            <span> {{localize "abfalter.magicTab.maint"}} </span>
                        </div>
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <span> {{localize "abfalter.magicTab.basic"}} </span>
                            <input class="inline-edit" data-field="system.base.intreq" type="text" value="{{spell.system.base.intreq}}" />
                            <input class="inline-edit" data-field="system.base.zeoncost" type="text" value="{{spell.system.base.zeoncost}}" />
                            <input class="inline-edit" data-field="system.base.maint" type="text" value="{{spell.system.base.maint}}" />
                        </div>
                        <textarea class="inline-edit" data-field="system.basic.rollDesc">{{spell.system.basic.rollDesc}}</textarea>
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <span> {{localize "abfalter.magicTab.intermidiate"}} </span>
                            <input class="inline-edit" data-field="system.intermediate.intreq" type="text" value="{{spell.system.intermediate.intreq}}" />
                            <input class="inline-edit" data-field="system.intermediate.zeoncost" type="text" value="{{spell.system.intermediate.zeoncost}}" />
                            <input class="inline-edit" data-field="system.intermediate.maint" type="text" value="{{spell.system.intermediate.maint}}" />
                        </div>
                        <textarea class="inline-edit" data-field="system.intermediate.rollDesc">{{spell.system.intermediate.rollDesc}}</textarea>
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <span> {{localize "abfalter.magicTab.advanced"}} </span>
                            <input class="inline-edit" data-field="system.advanced.intreq" type="text" value="{{spell.system.advanced.intreq}}" />
                            <input class="inline-edit" data-field="system.advanced.zeoncost" type="text" value="{{spell.system.advanced.zeoncost}}" />
                            <input class="inline-edit" data-field="system.advanced.maint" type="text" value="{{spell.system.advanced.maint}}" />
                        </div>
                        <textarea class="inline-edit" data-field="system.advanced.rollDesc">{{spell.system.advanced.rollDesc}}</textarea>
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <span> {{localize "abfalter.magicTab.arcane"}} </span>
                            <input class="inline-edit" data-field="system.arcane.intreq" type="text" value="{{spell.system.arcane.intreq}}" />
                            <input class="inline-edit" data-field="system.arcane.zeoncost" type="text" value="{{spell.system.arcane.zeoncost}}" />
                            <input class="inline-edit" data-field="system.arcane.maint" type="text" value="{{spell.system.arcane.maint}}" />
                        </div>
                        <textarea class="inline-edit" data-field="system.arcane.rollDesc">{{spell.system.arcane.rollDesc}}</textarea>
                        {{else}}
                        <div>
                            <div>
                                <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                                <span> {{spell.name}} </span>
                                <span> {{system.path}} </span>
                                <span> {{system.level}} </span>
                                <a class="item-expand"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <a class="item-control item-create" data-type="spell"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addSpell"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.spell}}armorpenalty{{/if}}" data-label="data.itemToggle.spell" data-ability="{{data.itemToggle.spell}}"><i class="{{#if data.itemToggle.spell}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>

            <div class="metaMagic">
                <h2> {{localize "abfalter.magicTab.metaMagic"}} </h2>
                <textarea name="data.metaMagic.info">{{data.metaMagic.info}}</textarea>
            </div>

            <div class="invocations">
                <h2> {{localize "abfalter.magicTab.invocation"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.basicInfo.cost"}} </span>
                    <span> {{localize "abfalter.basicInfo.difficulty"}} </span>
                </div>
                <div class="{{#if data.itemToggle.invocation}}item-list{{/if}}">
                    {{#each invocations as |invocation id|}}
                    <div class="invocation-item item normal-item" data-item-id="{{invocation._id}}">
                        {{#if system.expand}}
                        <div>
                            <input class="inline-edit" data-field="name" type="text" value="{{invocation.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input class="inline-edit" data-field="system.cost" type="number" value="{{invocation.system.cost}}" />
                            <input class="inline-edit" data-field="system.difficulty" type="number" value="{{invocation.system.difficulty}}" />
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <textarea class="inline-edit" data-field="system.description">{{invocation.system.description}}</textarea>
                        {{else}}
                        <div>
                            <span> {{invocation.name}} </span>
                            <span> {{invocation.system.cost}} </span>
                            <span> {{invocation.system.difficulty}} </span>
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <a class="item-create" data-type="invocation"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addInvocation"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.invocation}}armorpenalty{{/if}}" data-label="data.itemToggle.invocation" data-ability="{{data.itemToggle.invocation}}"><i class="{{#if data.itemToggle.invocation}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>

            <div class="incarnations">
                <h2> {{localize "abfalter.magicTab.incarnation"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.basicInfo.level"}} </span>
                    <span> {{localize "abfalter.basicInfo.cost"}} </span>
                    <span> {{localize "abfalter.basicInfo.difficulty"}} </span>
                </div>
                <div class="{{#if data.itemToggle.incarnation}}item-list{{/if}}">
                    {{#each incarnations as |incarnation id|}}
                    <div class="incarnation-item item normal-item" data-item-id="{{incarnation._id}}">
                        {{#if system.expand}}
                        <div>
                            <input class="inline-edit" data-field="name" type="text" value="{{incarnation.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input class="inline-edit" data-field="system.level" type="number" value="{{incarnation.system.level}}" />
                            <input class="inline-edit" data-field="system.cost" type="number" value="{{incarnation.system.cost}}" />
                            <input class="inline-edit" data-field="system.difficulty" type="number" value="{{incarnation.system.difficulty}}" />
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <textarea class="inline-edit" data-field="system.description">{{incarnation.system.description}}</textarea>
                        {{else}}
                        <div>
                            <span> {{incarnation.name}} </span>
                            <span> {{incarnation.system.level}} </span>
                            <span> {{incarnation.system.cost}} </span>
                            <span> {{incarnation.system.difficulty}} </span>
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <a class="item-create" data-type="incarnation"><i class="fas fa-plus"></i> {{localize "abfalter.magicTab.addSpellPath"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.incarnation}}armorpenalty{{/if}}" data-label="data.itemToggle.incarnation" data-ability="{{data.itemToggle.incarnation}}"><i class="{{#if data.itemToggle.incarnation}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>
        </div>
    </div>
</div>