<div class="tab psychic">
    <div class="s3">
        <div class="ppoint">
            <h2>
                {{localize "abfalter.psychicTab.pp"}}
                <label class="expand-box">
                    <input type="checkbox" name="data.ppoint.status" data-dtype="boolean" {{checked data.ppoint.status}} />
                </label>
            </h2>
            {{#if data.ppoint.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.ppoint.base" value="{{data.ppoint.base}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.ppoint.spec" value="{{data.ppoint.spec}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.ppbonus" value="{{data.ppbonus}}" readonly /> </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.finalpp" value="{{data.finalpp}}" readonly /> </label>
            <label> <span> {{localize "abfalter.psychicTab.freeppMax"}} </span> <input type="number" name="data.maxFreepp" value="{{data.maxFreepp}}" readonly /> </label>
            <label> <span> {{localize "abfalter.psychicTab.freepp"}} </span> <input type="number" name="data.ppoint.freepp" value="{{data.ppoint.freepp}}" /> </label>
        </div>

        <div class="ppotential">
            <h2>
                {{localize "abfalter.psychicTab.ppotential"}}
                <label class="expand-box">
                    <input type="checkbox" name="data.ppotential.status" data-dtype="boolean" {{checked data.ppotential.status}} />
                </label>
            </h2>
            {{#if data.ppotential.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.ppotential.base" value="{{data.ppotential.base}}" /> </label>
                <label> <span> {{localize "abfalter.psychicTab.fromWP"}} </span> <input type="number" name="data.fromWP" value="{{data.fromWP}}" readonly/> </label>
                <label> <span> {{localize "abfalter.basicInfo.spent"}} </span> 
                    <select name="data.ppotential.spent" data-dtype="number">
                        {{#select data.ppotential.spent}}
                        <option value="0"> 0 </option>
                        <option value="10"> 1 </option>
                        <option value="20"> 3 </option>
                        <option value="30"> 6 </option>
                        <option value="40"> 10 </option>
                        <option value="50"> 15 </option>
                        <option value="60"> 21 </option>
                        <option value="70"> 28 </option>
                        <option value="80"> 36 </option>
                        <option value="90"> 45 </option>
                        <option value="100"> 55 </option>
                         {{/select}}
                    </select>
                </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.ppotential.spec" value="{{data.ppotential.spec}}" /> </label>
                <label>
                    <button type="button" name="x" class="mastery-box "> <span> {{localize "abfalter.basicInfo.mastery"}} </span> </button>
                </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.ppotential.temp" value="{{data.ppotential.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.finalPotential" value="{{data.finalPotential}}" readonly/> </label>
            <div>
                <button type="button" class="psychic rollable" data-roll="d100" data-label="Psychic Potential">
                    <span> <i class="fas fa-dice-d20"></i> </span>
                </button>
            </div>
        </div>

        <div class="pproj">
            <h2>
                {{localize "abfalter.psychicTab.pproj"}}
                <label class="expand-box">
                    <input type="checkbox" name="data.pproj.status" data-dtype="boolean" {{checked data.pproj.status}} />
                </label>
            </h2>
            {{#if data.pproj.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.pproj.base" value="{{data.pproj.base}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.pproj.spec" value="{{data.pproj.spec}}" /> </label>
                <label>
                    <button type="button" name="x" class="mastery-box "> <span> {{localize "abfalter.basicInfo.mastery"}} </span> </button>
                </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.pproj.temp" value="{{data.pproj.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.pprojfinal" value="{{data.pprojfinal}}" readonly /> </label>
            {{#if data.other.moduleStatus}}
            <div class="pmodButton">
                <button type="button" id="atkroll" class="combat rollable" data-roll="d100+@atkfinal" data-label="Attack">
                    <span> Atk </span>
                </button>
                <button type="button" id="blkroll" class="combat rollable" data-roll="d100+@blkfinal" data-label="Block">
                    <span> Def </span> 
                </button>
            </div>
            {{else}}
            <div>
                <button type="button" class="psychic rollable" data-roll="d100" data-label="Psychic Projection">
                    <span> <i class="fas fa-dice-d20"></i> </span>
                </button>
            </div>
            {{/if}}
        </div>

        <div class="pdisc">
            <h2> {{localize "abfalter.psychicTab.pmodule"}} </h2>
            <div>
                <button type="button" class="psychicModule {{#if data.other.moduleStatus}}selected{{else}}notSelected{{/if}}" data-ability="{{data.other.moduleStatus}}" data-label="Psychic Module">
                    <span> {{localize "abfalter.psychicTab.pmoduleText"}} </span>
                    <span> {{localize "abfalter.psychicTab.pmoduleText2"}} </span>
                    {{#if data.other.moduleStatus}}
                    <div>
                        <span> {{localize "abfalter.basicInfo.active"}} </span>
                    </div>
                    {{/if}}
                </button>
            </div>
            <h2> {{localize "abfalter.psychicTab.pdisc"}} </h2>
            <div class="items-list">
                {{#each disciplines as |discipline id|}}
                <div class="discipline-item item delete-item" data-item-id="{{discipline._id}}">
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{discipline.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="discipline"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.paddDisc"}} </a>
        </div>
    </div>

    <div class="s4">
        <div>
            <div class="ppaterns">
                <h2> {{localize "abfalter.psychicTab.mentalPatterns"}} </h2>
                <div>
                    <span> {{localize "abfalter.psychicTab.patternName"}} </span>
                    <span> {{localize "abfalter.psychicTab.totalCost"}} </span>
                    <span> {{localize "abfalter.psychicTab.cancelled"}} </span>
                </div>
                <div class="items-list">
                    {{#each mentalPatterns as |mentalPattern id|}}
                    <div class="mentalPattern-item item normal-item" data-item-id="{{mentalPattern._id}}">
                        <div>
                            <input class="item-name inline-edit" data-field="name" type="text" value="{{mentalPattern.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                            <input class="maintPower" data-field="data.finalCost" type="number" value="{{mentalPattern.data.finalCost}}" readonly />
                            <button type="button" class="item-toggle" data-ability="{{data.toggle}}">
                                {{#if data.toggle}}
                                <span> {{localize "abfalter.basicInfo.yes"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.basicInfo.no"}} </span>
                                {{/if}}
                            </button>
                            <a class="item-expand" title="Expand Item"><i class="fas fa-caret-down"></i></a>
                        </div>
                        <div class="patternInfo {{#if data.expand}}expand{{else}}notExpand{{/if}}">
                            <span> Bonus </span>
                            <textarea class="inline-edit" data-field="data.description">{{mentalPattern.data.description}}</textarea>
                            <span> Penalty </span>
                            <textarea class="inline-edit" data-field="data.penalty">{{mentalPattern.data.penalty}}</textarea>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="item-control item-create" title="Create item" data-type="mentalPattern"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addMentalPattern"}} </a>
            </div>

            <div class="ppowers">
                <h2> {{localize "abfalter.psychicTab.psychicMatrices"}} </h2>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.basicInfo.bonus"}} </span>
                </div>
                <div class="items-list">
                    {{#each psychicMatrixs as |psychicMatrix id|}}
                    <div class="psychicMatrix-item item normal-item" data-item-id="{{psychicMatrix._id}}">
                        <div>
                            <input class="item-name inline-edit" data-field="name" type="text" value="{{psychicMatrix.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                            <input class="maintPower inline-edit" data-field="data.bonus" type="number" value="{{psychicMatrix.data.bonus}}" />
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="item-control item-create" title="Create item" data-type="psychicMatrix"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addPsychicMatrix"}} </a>
            </div>
        </div>

        <div class="pmaint">
            <h2> {{localize "abfalter.psychicTab.maintMatrix"}} </h2>
            <div>
                <label> <span> {{localize "abfalter.psychicTab.numOfSlots"}} </span> <input type="number" name="data.other.innateSlots" value="{{data.other.innateSlots}}" /> </label>
                <label> <span> {{localize "abfalter.psychicTab.totalppSlots"}}  </span> <input type="number" name="data.innateSlotspp" value="{{data.innateSlotspp}}" readonly /> </label>
            </div>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.psychicTab.potency"}} </span>
            </div>
            <div class="items-list">
                {{#each maintPowers as |maintPower id|}}
                <div class="maintPower-item item delete-item" data-item-id="{{maintPower._id}}">
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{maintPower.name}}" placeholder="{{localize "abfalter.sheet.newItem"}}" />
                        <input class="maint-value inline-edit" data-field="data.value" type="number" value="{{maintPower.data.value}}" />
                        <a class="item-expand" title="Expand Item"><i class="fas fa-caret-down"></i></a>
                    </div>
                    <div class="{{#if data.expand}}expand{{else}}notExpand{{/if}}">
                        <textarea class="inline-edit" data-field="data.description">{{maintPower.data.description}}</textarea>
                    </div>
                </div>
                {{/each}}
            </div>
            <a class="item-control item-create" title="Create item" data-type="maintPower"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addMaintMatrix"}} </a>
        </div>
    </div>
</div>