<div class="tab psychic">
    <div class="s3">
        <div class="ppoint">
            <h5>
                {{localize "abfalter.psychicTab.pp"}}
                <label class="expand-box"> 
                    <a class="toggleBoolean {{#if data.ppoint.status}}showOpacity{{/if}}" data-label="data.ppoint.status" data-ability="{{data.ppoint.status}}"><i class="{{#if data.ppoint.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </label>
            </h5>
            {{#if data.ppoint.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.ppoint.base" value="{{data.ppoint.base}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.ppoint.spec" value="{{data.ppoint.spec}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.class"}} </span> <input type="number" name="data.ppbonus" value="{{data.ppbonus}}" readonly /> </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.finalpp" value="{{data.finalpp}}" readonly /> </label>
            <label> <span> {{localize "abfalter.psychicTab.freeppMax"}} </span> <input type="number" name="data.maxFreepp" value="{{data.maxFreepp}}" readonly /> </label>
            <label> <span> {{localize "abfalter.psychicTab.freepp"}} </span> <input type="number" name="data.ppoint.freepp" value="{{data.ppoint.freepp}}" /> </label>
        </div>

        <div class="ppotential">
            <h5>
                {{localize "abfalter.psychicTab.ppotential"}}
                <label class="expand-box">
                    <a class="toggleBoolean {{#if data.ppotential.status}}showOpacity{{/if}}" data-label="data.ppotential.status" data-ability="{{data.ppotential.status}}"><i class="{{#if data.ppotential.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </label>
            </h5>
            {{#if data.ppotential.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.ppotential.base" value="{{data.ppotential.base}}" /> </label>
                <label> <span> {{localize "abfalter.psychicTab.fromWP"}} </span> <input type="number" name="data.fromWP" value="{{data.fromWP}}" readonly/> </label>
                <div class="csSelect1">
                    <label>
                        <span> {{localize "abfalter.basicInfo.spent"}} </span>
                        <select name="data.ppotential.spent" data-dtype="number">
                            {{#select data.ppotential.spent}}
                            <option value="0"> 0 </option>
                            <option value="10"> 1 </option>
                            <option value="20"> 3 </option>
                            <option value="30"> 6 </option>
                            <option value="40"> 10 </option>
                            <option value="50"> 15 </option>
                            <option value="60"> 21 </option>
                            <option value="70"> 28 </option>
                            <option value="80"> 36 </option>
                            <option value="90"> 45 </option>
                            <option value="100"> 55 </option>
                            {{/select}}
                        </select>
                    </label>
                </div>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.ppotential.spec" value="{{data.ppotential.spec}}" /> </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.ppotential.temp" value="{{data.ppotential.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.finalPotential" value="{{data.finalPotential}}" readonly/> </label>
            <div>
                <button type="button" class="rollable" data-roll="{{data.finalPotential}}" data-label="{{localize "abfalter.psychicTab.psychicPotential"}}" data-type="potentialRoll">
                    <span> <i class="fas fa-dice-d20"></i> </span>
                </button>
            </div>
        </div>

        <div class="pproj">
            <h5>
                {{localize "abfalter.psychicTab.pproj"}}
                <label class="expand-box">
                    <a class="toggleBoolean {{#if data.pproj.status}}showOpacity{{/if}}" data-label="data.pproj.status" data-ability="{{data.pproj.status}}"><i class="{{#if data.pproj.status}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                </label>
            </h5>
            {{#if data.pproj.status}}
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.pproj.base" value="{{data.pproj.base}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.pproj.spec" value="{{data.pproj.spec}}" /> </label>
            </div>
            {{/if}}
            <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.pproj.temp" value="{{data.pproj.temp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.pprojfinal" value="{{data.pprojfinal}}" readonly /> </label>
            {{#if data.other.moduleStatus}}
            <div class="pmodButton">
                <button type="button" class="combatRoll" data-roll="{{data.atkfinal}}" data-label="{{localize "abfalter.basicInfo.attack"}}" data-type="combatRoll">
                    <span> {{data.atkfinal}} </span>
                </button>
                {{#if data.toggles.psychicDodgeStatus}}
                <button type="button" class="combatRoll" data-roll="{{data.dodfinal}}" data-label="{{localize "abfalter.basicInfo.dodge"}}" data-type="combatRoll">
                    <span> {{data.dodfinal}} </span>
                </button>
                {{else}}
                <button type="button" class="combatRoll" data-roll="{{data.blkfinal}}" data-label="{{localize "abfalter.basicInfo.block"}}" data-type="combatRoll">
                    <span> {{data.blkfinal}} </span>
                </button>
                {{/if}}
            </div>
            {{else}}
            <div>
                <button type="button" class="combatRoll" data-roll="{{data.pprojfinal}}" data-label="{{localize "abfalter.psychicTab.psyProj"}}" data-type="combatRoll">
                    <span> <i class="fas fa-dice-d20"></i> </span>
                </button>
            </div>
            {{/if}}
        </div>

        <div class="pdisc">
            <h5> {{localize "abfalter.psychicTab.pdisc"}} </h5>
            <div class="{{#if data.itemToggle.discipline}}item-list{{/if}}">
                {{#each disciplines as |discipline id|}}
                <div class="discipline-item item delete-item" data-item-id="{{discipline._id}}">
                    <div>
                        {{#if system.toggleItem}}
                        <span> {{discipline.name}} </span>
                        {{else}}
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{discipline.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="discipline"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.paddDisc"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.discipline}}armorpenalty{{/if}}" data-label="data.itemToggle.discipline" data-ability="{{data.itemToggle.discipline}}"><i class="{{#if data.itemToggle.discipline}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>
    </div>

    <div class="s4">
        <div>
            <div class="ppaterns {{#if data.toggles.mentalPatternsvis}}hidden{{/if}}">
                <h5> {{localize "abfalter.psychicTab.mentalPatterns"}} </h5>
                <div>
                    <span> {{localize "abfalter.psychicTab.patternName"}} </span>
                    <span> {{localize "abfalter.psychicTab.totalCost"}} </span>
                    <span> {{localize "abfalter.psychicTab.cancelled"}} </span>
                </div>
                <div class="{{#if data.itemToggle.mentalPattern}}item-list{{/if}}">
                    {{#each mentalPatterns as |mentalPattern id|}}
                    <div class="mentalPattern-item item normal-item" data-item-id="{{mentalPattern._id}}">
                        {{#if system.expand}}
                        <div>
                            <input class="item-name inline-edit" data-field="name" type="text" value="{{mentalPattern.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input data-field="system.finalCost" type="number" value="{{mentalPattern.system.finalCost}}" readonly />
                            <button type="button" class="item-toggle" data-ability="{{system.toggle}}" data-label="system.toggle">
                                {{#if system.toggle}}
                                <span> {{localize "abfalter.basicInfo.yes"}} </span>
                                {{else}}
                                <span> {{localize "abfalter.basicInfo.no"}} </span>
                                {{/if}}
                            </button>
                            <a class="item-expand"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <div>
                            <label> <span> {{localize "abfalter.basicInfo.cost"}} </span> <input class="inline-edit" data-field="system.cost" type="number" value="{{mentalPattern.system.cost}}"/> </label>
                            <label> <span> {{localize "abfalter.psychicTab.cancelCost"}} </span> <input class="inline-edit" data-field="system.cancelCost" type="number" value="{{mentalPattern.system.cancelCost}}"/> </label>
                        </div>
                        <div>
                            <span> {{localize "abfalter.basicInfo.bonus"}} </span>
                            <textarea class="inline-edit" data-field="system.description">{{mentalPattern.system.description}}</textarea>
                            <span> {{localize "abfalter.armoryTab.penalty"}} </span>
                            <textarea class="inline-edit" data-field="system.penalty">{{mentalPattern.system.penalty}}</textarea>
                        </div>
                        {{else}}
                        <div>
                            <span> {{mentalPattern.name}} </span>
                            <span> {{mentalPattern.system.finalCost}} </span>
                            {{#if system.toggle}}
                            <span> {{localize "abfalter.basicInfo.yes"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.basicInfo.no"}} </span>
                            {{/if}}
                            <a class="item-expand"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <a class="item-control item-create" data-type="mentalPattern"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addMentalPattern"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.mentalPattern}}armorpenalty{{/if}}" data-label="data.itemToggle.mentalPattern" data-ability="{{data.itemToggle.mentalPattern}}"><i class="{{#if data.itemToggle.mentalPattern}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>

            <div class="ppowers">
                <h5> {{localize "abfalter.psychicTab.psychicMatrices"}} </h5>
                <div>
                    <span> {{localize "abfalter.basicInfo.name"}} </span>
                    <span> {{localize "abfalter.basicInfo.bonus"}} </span>
                </div>
                <div class="{{#if data.itemToggle.psychicMatrix}}item-list{{/if}}">
                    {{#each psychicMatrixs as |psychicMatrix id|}}
                    <div class="psychicMatrix-item item normal-item" data-item-id="{{psychicMatrix._id}}">
                        {{#if system.expand}}
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <input class="item-name inline-edit" data-field="name" type="text" value="{{psychicMatrix.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                            <input class="inline-edit" data-field="system.bonus" type="number" value="{{psychicMatrix.system.bonus}}" />
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        <div>
                            <div>
                                <div class="csSelect">
                                    <label>
                                        <span> {{localize "abfalter.basicInfo.level"}} </span>
                                        <select class="inline-edit" data-field="system.level" data-dtype="number">
                                            {{#select psychicMatrix.system.level}}
                                            <option value="1"> 1 </option>
                                            <option value="2"> 2 </option>
                                            <option value="3"> 3 </option>
                                            {{/select}}
                                        </select>
                                    </label>
                                </div>
                                <div class="csSelect">
                                    <label>
                                        <span> {{localize "abfalter.basicInfo.action"}} </span>
                                        <select class="inline-edit" data-field="system.action" data-dtype="number">
                                            {{#select psychicMatrix.system.action}}
                                            <option value="1"> {{localize "abfalter.basicInfo.active"}} </option>
                                            <option value="0"> {{localize "abfalter.basicInfo.passive"}} </option>
                                            {{/select}}
                                        </select>
                                    </label>
                                </div>
                                <div class="csSelect">
                                    <label>
                                        <span> {{localize "abfalter.psychicTab.maint"}} </span>
                                        <select class="inline-edit" data-field="system.maint" data-dtype="text">
                                            {{#select psychicMatrix.system.maint}}
                                            <option value="No"> {{localize "abfalter.basicInfo.no"}} </option>
                                            <option value="Yes"> {{localize "abfalter.basicInfo.yes"}} </option>
                                            {{/select}}
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div>
                                <span> {{localize "abfalter.basicInfo.description"}} </span>
                            </div>
                            <textarea class="inline-edit" data-field="system.description">{{psychicMatrix.system.description}}</textarea>
                            <div>
                                <span> {{localize "abfalter.basicInfo.difficulty"}} </span>
                                <span> {{localize "abfalter.basicInfo.effect"}} </span>
                            </div>
                            <div>
                                <label> <span> 20 </span> <span> {{localize "abfalter.basicInfo.routine"}} </span> <input class="inline-edit" type="text" data-field="system.effect20" value="{{psychicMatrix.system.effect20}}" /> </label>
                                <label> <span> 40 </span> <span> {{localize "abfalter.basicInfo.easy"}} </span> <input class="inline-edit" type="text" data-field="system.effect40" value="{{psychicMatrix.system.effect40}}" /> </label>
                                <label> <span> 80 </span> <span> {{localize "abfalter.basicInfo.average"}} </span> <input class="inline-edit" type="text" data-field="system.effect80" value="{{psychicMatrix.system.effect80}}" /> </label>
                                <label> <span> 120 </span> <span> {{localize "abfalter.basicInfo.difficult"}} </span> <input class="inline-edit" type="text" data-field="system.effect120" value="{{psychicMatrix.system.effect120}}" /> </label>
                                <label> <span> 140 </span> <span> {{localize "abfalter.basicInfo.vDifficult"}} </span> <input class="inline-edit" type="text" data-field="system.effect140" value="{{psychicMatrix.system.effect140}}" /> </label>
                                <label> <span> 180 </span> <span> {{localize "abfalter.basicInfo.absurd"}} </span> <input class="inline-edit" type="text" data-field="system.effect180" value="{{psychicMatrix.system.effect180}}" /> </label>
                                <label> <span> 240 </span> <span> {{localize "abfalter.basicInfo.almostImp"}} </span> <input class="inline-edit" type="text" data-field="system.effect240" value="{{psychicMatrix.system.effect240}}" /> </label>
                                <label> <span> 280 </span> <span> {{localize "abfalter.basicInfo.impossible"}} </span> <input class="inline-edit" type="text" data-field="system.effect280" value="{{psychicMatrix.system.effect280}}" /> </label>
                                <label> <span> 320 </span> <span> {{localize "abfalter.basicInfo.inhuman"}} </span> <input class="inline-edit" type="text" data-field="system.effect320" value="{{psychicMatrix.system.effect320}}" /> </label>
                                <label> <span> 440 </span> <span> {{localize "abfalter.basicInfo.zen"}} </span> <input class="inline-edit" type="text" data-field="system.effect440" value="{{psychicMatrix.system.effect440}}" /> </label>
                            </div>
                        </div>
                        {{else}}
                        <div>
                            <a class="item-control item-chat"><i class="fas fa-comment-dots"></i></a>
                            <span> {{psychicMatrix.name}} </span>
                            <span> {{psychicMatrix.system.bonus}} </span>
                            <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                        </div>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                <div>
                    <a class="item-control item-create" data-type="psychicMatrix"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addPsychicMatrix"}} </a>
                    <a class="toggleBoolean {{#if data.itemToggle.psychicMatrix}}armorpenalty{{/if}}" data-label="data.itemToggle.psychicMatrix" data-ability="{{data.itemToggle.psychicMatrix}}"><i class="{{#if data.itemToggle.psychicMatrix}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
                </div>
            </div>
        </div>

        <div class="pmaint">
            <h5> {{localize "abfalter.psychicTab.maintMatrix"}} </h5>
            <div>
                <label> <span> {{localize "abfalter.psychicTab.numOfSlots"}} </span> <input type="number" name="data.other.innateSlots" value="{{data.other.innateSlots}}" /> </label>
                <label> <span> {{localize "abfalter.psychicTab.totalppSlots"}}  </span> <input type="number" name="data.innateSlotspp" value="{{data.innateSlotspp}}" readonly /> </label>
            </div>
            <div>
                <span> {{localize "abfalter.basicInfo.name"}} </span>
                <span> {{localize "abfalter.psychicTab.potency"}} </span>
            </div>
            <div class="{{#if data.itemToggle.maintPowers}}item-list{{/if}}">
                {{#each maintPowers as |maintPower id|}}
                <div class="maintPower-item item onlyDelete-item" data-item-id="{{maintPower._id}}">
                    {{#if system.expand}}
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{maintPower.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                        <input class="inline-edit" data-field="system.value" type="number" value="{{maintPower.system.value}}" />
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    <div>
                        <textarea class="inline-edit" data-field="system.description">{{maintPower.system.description}}</textarea>
                    </div>
                    {{else}}
                    <div>
                        <span> {{maintPower.name}} </span>
                        <span> {{maintPower.system.value}} </span>
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            <div>
                <a class="item-control item-create" data-type="maintPower"><i class="fas fa-plus"></i> {{localize "abfalter.psychicTab.addMaintMatrix"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.maintPowers}}armorpenalty{{/if}}" data-label="data.itemToggle.maintPowers" data-ability="{{data.itemToggle.maintPowers}}"><i class="{{#if data.itemToggle.maintPowers}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>
    </div>
</div>