<div class="tab settings">

    <div class="settingsOptions">
        <div class="settingsSubsection">
            <h5> {{localize "abfalter.settingsTab.mysticSettings"}} </h5>
            <div>
                <span> {{localize "abfalter.settingsTab.magicAttackModule"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.magicAtkModule}}kiBought{{/if}}"
                        data-label="data.toggles.magicAtkModule" data-ability="{{data.toggles.magicAtkModule}}">
                    {{#if data.toggles.magicAtkModule}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicDodgeModule}}checkLock{{/if}}">
                <span> {{localize "abfalter.settingsTab.magicDefenseModule"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.magicDefModule}}kiBought{{/if}}"
                        data-label="data.toggles.magicDefModule" data-ability="{{data.toggles.magicDefModule}}">
                    {{#if data.toggles.magicDefModule}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{#if data.toggles.magicDefModule}}
            <div>
                <span class="settingsSubsectionIndent"> {{localize "abfalter.settingsTab.magicDodgeModule"}}</span>
                <button type="button" class="toggleBoolean {{#if data.toggles.magicDodgeModule}}kiBought{{/if}}"
                        data-label="data.toggles.magicDodgeModule" data-ability="{{data.toggles.magicDodgeModule}}">
                    {{#if data.toggles.magicDodgeModule}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{/if}}
        </div>

        <div class="settingsSubsection">
            <h5> {{localize "abfalter.settingsTab.kiSettings"}} </h5>
            <div class="{{#if data.toggles.innatePower}}checkLock{{/if}}">
                <span> {{localize "abfalter.settingsTab.unifiedKi"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.unifiedPools}}kiBought{{/if}}"
                        data-label="data.toggles.unifiedPools" data-ability="{{data.toggles.unifiedPools}}">
                    {{#if data.toggles.unifiedPools}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{#if data.toggles.unifiedPools}}
            <div>
                <span class="settingsSubsectionIndent"> {{localize "abfalter.settingsTab.innatePower"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.innatePower}}kiBought{{/if}}"
                        data-label="data.toggles.innatePower" data-ability="{{data.toggles.innatePower}}">
                    {{#if data.toggles.innatePower}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{/if}}
            {{#if data.toggles.innatePower}}
            <div class="innatePowerSetting">
                <span class="settingsSubsectionIndent"> {{localize "abfalter.settingsTab.innateType"}} </span>
                <div class="csSelect">
                    <label>
                        <select name="data.kiPool.innate.type" data-dtype="String">
                            {{#select data.kiPool.innate.type}}
                            <option value="AGI"> {{localize "abfalter.basicInfo.agility"}} </option>
                            <option value="CON"> {{localize "abfalter.basicInfo.consti"}} </option>
                            <option value="DEX"> {{localize "abfalter.basicInfo.dexerity"}} </option>
                            <option value="STR"> {{localize "abfalter.basicInfo.strength"}} </option>
                            <option value="POW"> {{localize "abfalter.basicInfo.power"}} </option>
                            <option value="WP"> {{localize "abfalter.basicInfo.willPower"}} </option>
                            {{/select}}
                        </select>
                    </label>
                </div>
            </div>
            {{/if}}
            <div>
                <span> {{localize "abfalter.settingsTab.dragonSeals"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.dragonSeals}}kiBought{{/if}}"
                        data-label="data.toggles.dragonSeals" data-ability="{{data.toggles.dragonSeals}}">
                    {{#if data.toggles.dragonSeals}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
        </div>

        <div class="settingsSubsection">
            <h5> {{localize "abfalter.settingsTab.psychicSettings"}} </h5>
            <div class="{{#if data.toggles.psychicDodgeStatus}}checkLock{{/if}}">
                <span> {{localize "abfalter.settingsTab.psyAttackModule"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.moduleStatus}}kiBought{{/if}}"
                        data-label="data.toggles.moduleStatus" data-ability="{{data.toggles.moduleStatus}}">
                    {{#if data.toggles.moduleStatus}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{#if data.toggles.moduleStatus}}
            <div>
                <span class="settingsSubsectionIndent"> {{localize "abfalter.settingsTab.magicDodgeModule"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.psychicDodgeStatus}}kiBought{{/if}}"
                        data-label="data.toggles.psychicDodgeStatus" data-ability="{{data.toggles.psychicDodgeStatus}}">
                    {{#if data.toggles.psychicDodgeStatus}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>
            {{/if}}
        </div>

        <div class="settingsSubsection">
            <h5> {{localize "abfalter.settingsTab.generalSettings"}} </h5>
            <div>
                <span> {{localize "abfalter.settingsTab.hideCurrency"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.currencyHide}}kiBought{{/if}}"
                        data-label="data.toggles.currencyHide" data-ability="{{data.toggles.currencyHide}}">
                    {{#if data.toggles.currencyHide}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </div>

            <div>
                <span> {{localize "abfalter.settingsTab.changeTemp"}} </span>
                <button type="button" class="changeSecondaryNums" data-ability="temp">
                    <span> {{localize "abfalter.settingsTab.open"}} </span>
                </button>
            </div>

            <div>
                <span> {{localize "abfalter.settingsTab.changeSpec"}} </span>
                <button type="button" class="changeSecondaryNums" data-ability="spec">
                    <span> {{localize "abfalter.settingsTab.open"}} </span>
                </button>
            </div>
        </div>

        <div class="settingsSubsection">
            <h5> {{localize "abfalter.settingsTab.hidePageObjects"}} </h5>
            <div></div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.magicTheory"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.magicTheoryVis}}kiBought{{/if}}"
                        data-label="data.toggles.magicTheoryVis" data-ability="{{data.toggles.magicTheoryVis}}">
                    {{#if data.toggles.magicTheoryVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.innateMagic"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.innateMagicVis}}kiBought{{/if}}"
                        data-label="data.toggles.innateMagicVis" data-ability="{{data.toggles.innateMagicVis}}">
                    {{#if data.toggles.innateMagicVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.summoning"}}</span>
                <button type="button" class="toggleBoolean {{#if data.toggles.summoningVis}}kiBought{{/if}}"
                        data-label="data.toggles.summoningVis" data-ability="{{data.toggles.summoningVis}}">
                    {{#if data.toggles.summoningVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.invocation"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.invocationsVis}}kiBought{{/if}}"
                        data-label="data.toggles.invocationsVis" data-ability="{{data.toggles.invocationsVis}}">
                    {{#if data.toggles.invocationsVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.incarnation"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.incarnationsVis}}kiBought{{/if}}"
                        data-label="data.toggles.incarnationsVis" data-ability="{{data.toggles.incarnationsVis}}">
                    {{#if data.toggles.incarnationsVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.spellcasting"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.spellcastingVis}}kiBought{{/if}}"
                        data-label="data.toggles.spellcastingVis" data-ability="{{data.toggles.spellcastingVis}}">
                    {{#if data.toggles.spellcastingVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.magicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.turnMaint"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.turnMaintVis}}kiBought{{/if}}"
                        data-label="data.toggles.turnMaintVis" data-ability="{{data.toggles.turnMaintVis}}">
                    {{#if data.toggles.turnMaintVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>

            <div class="{{#if data.toggles.psychicTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.mentalPattern"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.mentalPatternsvis}}kiBought{{/if}}"
                        data-label="data.toggles.mentalPatternsvis" data-ability="{{data.toggles.mentalPatternsvis}}">
                    {{#if data.toggles.mentalPatternsvis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>

            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.arsMag"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.arsMagVis}}kiBought{{/if}}"
                        data-label="data.toggles.arsMagVis" data-ability="{{data.toggles.arsMagVis}}">
                    {{#if data.toggles.arsMagVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.martialArt"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.maVis}}kiBought{{/if}}"
                        data-label="data.toggles.maVis" data-ability="{{data.toggles.maVis}}">
                    {{#if data.toggles.maVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.unarmedDmg"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.unarmedVis}}kiBought{{/if}}"
                        data-label="data.toggles.unarmedVis" data-ability="{{data.toggles.unarmedVis}}">
                    {{#if data.toggles.unarmedVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.nemesis"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.nemesisVis}}kiBought{{/if}}"
                        data-label="data.toggles.nemesisVis" data-ability="{{data.toggles.nemesisVis}}">
                    {{#if data.toggles.nemesisVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.kiSeals"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.kiSealsVis}}kiBought{{/if}}"
                        data-label="data.toggles.kiSealsVis" data-ability="{{data.toggles.kiSealsVis}}">
                    {{#if data.toggles.kiSealsVis}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div class="{{#if data.toggles.kiTab}}hidden{{/if}}">
                <span> {{localize "abfalter.settingsTab.kiTechniq"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.kiTech}}kiBought{{/if}}"
                        data-label="data.toggles.kiTech" data-ability="{{data.toggles.kiTech}}">
                    {{#if data.toggles.kiTech}}
                    <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                    {{/if}}
                </button>
            </div>
            <div></div>
        </div>
    </div>

    <div class="settings2">
        <div>
            <div>
                <div class="rollRange">
                    <h5> {{localize "abfalter.settingsTab.openRoll"}} </h5>
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.rollRange.base" value="{{data.rollRange.base}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.rollRange.spec" value="{{data.rollRange.spec}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.rollRange.temp" value="{{data.rollRange.temp}}" /> </label>
                        <label>
                            <span> {{localize "abfalter.settingsTab.doubles"}} </span>
                            <select name="data.rollRange.doubles" data-dtype="boolean">
                                {{#select data.rollRange.doubles}}
                                <option value="false"> {{localize "abfalter.basicInfo.no"}} </option>
                                <option value="true"> {{localize "abfalter.basicInfo.yes"}} </option>
                                {{/select}}
                            </select>
                        </label>
                    </div>
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.openRangeFinal" value="{{data.openRangeFinal}}" readonly /> </label>
                    </div>
                </div>

                <div class="rollRange">
                    <h5> {{localize "abfalter.settingsTab.fumbleRoll"}} </h5>
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.fumleRange.base" value="{{data.fumleRange.base}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.spec"}} </span> <input type="number" name="data.fumleRange.spec" value="{{data.fumleRange.spec}}" /> </label>
                        <label> <span> {{localize "abfalter.basicInfo.temp"}} </span> <input type="number" name="data.fumleRange.temp" value="{{data.fumleRange.temp}}" /> </label>
                    </div>
                    <div>
                        <label> <span> {{localize "abfalter.basicInfo.final"}} </span> <input type="number" name="data.fumbleRangeFinal" value="{{data.fumbleRangeFinal}}" readonly /> </label>
                    </div>
                </div>

                <!--
                <div class="rollOptions">
                    <h5>Roll Option</h5>
                    <div>
                        <label>
                            <span> Voice </span>
                            <select name="data.actorVoice">
                                {{#select data.actorVoice}}
                                <option value="false"> {{localize "abfalter.basicInfo.no"}} </option>
                                <option value="true"> {{localize "abfalter.basicInfo.yes"}} </option>
                                {{/select}}
                            </select>
                        </label>
                    </div>
                </div>
                -->
            </div>



            <div class="charOptions">
                <h5> {{localize "abfalter.settingsTab.charOptions"}} </h5>
                <div>
                    <label> <span> {{localize "abfalter.settingsTab.levelMod"}} </span> <input type="number" name="data.levelinfo.levelmod" value="{{data.levelinfo.levelmod}}" /> </label>
                    <label> <span> {{localize "abfalter.settingsTab.presenceMod"}} </span> <input type="number" name="data.levelinfo.presencemod" value="{{data.levelinfo.presencemod}}" /> </label>
                    <label> <span> {{localize "abfalter.settingsTab.dpMod"}} </span> <input type="number" name="data.levelinfo.dpmod" value="{{data.levelinfo.dpmod}}" /> </label>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideBack"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.backgroundTab}}kiBought{{/if}}"
                                data-label="data.toggles.backgroundTab" data-ability="{{data.toggles.backgroundTab}}">
                            {{#if data.toggles.backgroundTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideMonster"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.monsterTab}}kiBought{{/if}}"
                                data-label="data.toggles.monsterTab" data-ability="{{data.toggles.monsterTab}}">
                            {{#if data.toggles.monsterTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideMagic"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.magicTab}}kiBought{{/if}}"
                                data-label="data.toggles.magicTab" data-ability="{{data.toggles.magicTab}}">
                            {{#if data.toggles.magicTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hidePsy"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.psychicTab}}kiBought{{/if}}"
                                data-label="data.toggles.psychicTab" data-ability="{{data.toggles.psychicTab}}">
                            {{#if data.toggles.psychicTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideKi"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.kiTab}}kiBought{{/if}}"
                                data-label="data.toggles.kiTab" data-ability="{{data.toggles.kiTab}}">
                            {{#if data.toggles.kiTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideEffect"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.effectTab}}kiBought{{/if}}"
                                data-label="data.toggles.effectTab" data-ability="{{data.toggles.effectTab}}">
                            {{#if data.toggles.effectTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.hideBio"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.bioTab}}kiBought{{/if}}"
                                data-label="data.toggles.bioTab" data-ability="{{data.toggles.bioTab}}">
                            {{#if data.toggles.bioTab}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                    <div>
                        <span> {{localize "abfalter.settingsTab.activateShield"}} </span>
                        <button type="button" class="toggleBoolean {{#if data.toggles.shield}}kiBought{{/if}}"
                                data-label="data.toggles.shield" data-ability="{{data.toggles.shield}}">
                            {{#if data.toggles.shield}}
                            <span> {{localize "abfalter.settingsTab.notHidden"}} </span>
                            {{else}}
                            <span> {{localize "abfalter.settingsTab.hidden"}} </span>
                            {{/if}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="innateBonuses">
            <h5> {{localize "abfalter.settingsTab.classLevels"}} </h5>
            <div>
                <span> {{localize "abfalter.basicInfo.class"}} </span>
                <span> {{localize "abfalter.basicInfo.level"}} </span>
            </div>

            <div class="{{#if data.itemToggle.class}}item-list{{/if}}">
                {{#each classes as |class id|}}
                <div class="class-item item normal-item" data-item-id="{{class._id}}">
                    <div>
                        <input class="item-name inline-edit" data-field="name" type="text" value="{{class.name}}" placeholder="{{localize "abfalter.sheet.nameItem"}}" />
                        <input class="inline-edit" data-field="system.main.levels" type="number" value="{{class.system.main.levels}}" />
                        <a class="item-expand {{#if system.expand}}showOpacity{{/if}}"><i class="{{#if system.expand}}fas fa-caret-up{{else}}fas fa-caret-down{{/if}}"></i></a>
                    </div>
                    {{#if system.expand}}
                    <span> {{localize "abfalter.settingsTab.tempWip"}} </span>
                    {{/if}}
                </div>
                {{/each}}
            </div>

            <div>
                <a class="item-control item-create" data-type="class"><i class="fas fa-plus"></i> {{localize "abfalter.settingsTab.addClass"}} </a>
                <a class="toggleBoolean {{#if data.itemToggle.class}}armorpenalty{{/if}}" data-label="data.itemToggle.class" data-ability="{{data.itemToggle.class}}"><i class="{{#if data.itemToggle.class}}fa-solid fa-bars-staggered{{else}}fa-solid fa-bars{{/if}}"></i> {{localize "abfalter.sheet.modify"}} </a>
            </div>
        </div>


        <div class="homebrew">
            <h5> {{localize "abfalter.settingsTab.homebrewSettings"}} </h5>
            <label>
                <span> {{localize "abfalter.settingsTab.increasedStr"}} </span>
                <button type="button" class="toggleBoolean {{#if data.toggles.psychicStrengthening}}kiBought{{/if}}"
                        data-label="data.toggles.psychicStrengthening" data-ability="{{data.toggles.psychicStrengthening}}">
                    {{#if data.toggles.psychicStrengthening}}
                    <span> {{localize "abfalter.settingsTab.active"}} </span>
                    {{else}}
                    <span> {{localize "abfalter.settingsTab.notActive"}} </span>
                    {{/if}}
                </button>
            </label>
        </div>

    </div>

</div>
