<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType"></span>
</div>
<ul class="summary flexrow">
    <li class="itemHeader65-30">
        <label>
            <span>{{localize "abfalter.quantity"}}: </span>
            <input type="number" name="system.quantity" value="{{system.quantity}}" />
        </label>
    </li>
    <li></li>
    <li></li>
</ul>