<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType"></span>
</div>
<ul class="summary flexrow">
    <li class="itemHeader65-30"> 
        <label>
            <span>{{localize "abfalter.benefit"}}: </span>
            <input type="number" name="system.benefit" value="{{system.benefit}}" />
        </label>
    </li>
</ul>
<div>
    The disadvantage item is going to be removed, do not drag this onto your 
    actor unless you want errors in future updates.
    <br>
    Instead, create an advantage and change its type to disadvantage.
    <br>
    Removal of item is going to happen in 1.5.3, There will be a migration script to double check if actors
    have the disadvantage item and remove it. 1.5.0 migration autamically converted the disadvantage item to an advantage item alrleady.
</div>