<div class="item-subtitle">
    <h4 class="item-type">{{localize (concat "abfalter.itemNames." document.type)}}</h4>
    <span class="item-subType"></span>
</div>
<ul class="summary flexrow">
    <li></li>
    <li></li>
    <li></li>
</ul>
