<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="char-info">
            <label> <span> Name </span> <input type="text" name="name" value="{{actor.name}}" placeholder="Name" /> </label>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="general">{{localize "General"}}</a>
        <a class="item" data-tab="background">{{localize "Background"}}</a>
        <a class="item" data-tab="magic">{{localize "Magic"}}</a>
        <a class="item" data-tab="psychic">{{localize "Psychic"}}</a>
        <a class="item" data-tab="ki">{{localize "Ki"}}</a>
        <a class="item" data-tab="armory">{{localize "Armory"}}</a>
        <a class="item" data-tab="settings">{{localize "X"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Sheet Location Tab --}}
        <div class="tab general" data-group="primary" data-tab="general">
            {{> systems/abfalter/templates/actor/parts/general.html }}
        </div>
        <div class="tab background" data-group="primary" data-tab="background">
            {{> systems/abfalter/templates/actor/parts/background.html }}
        </div>
        <div class="tab magic" data-group="primary" data-tab="magic">
            {{> systems/abfalter/templates/actor/parts/magic.html }}
        </div>
        <div class="tab psychic" data-group="primary" data-tab="psychic">
            {{> systems/abfalter/templates/actor/parts/psychic.html }}
        </div>
        <div class="tab ki" data-group="primary" data-tab="ki">
            {{> systems/abfalter/templates/actor/parts/ki.html }}
        </div>
        <div class="tab armory" data-group="primary" data-tab="armory">
            {{> systems/abfalter/templates/actor/parts/armory.html }}
        </div>
        <div class="tab settings" data-group="primary" data-tab="settings">
            {{> systems/abfalter/templates/actor/parts/settings.html }}
        </div>

    </section>
</form>

