<form class="{{cssClass}} flexcol" autocomplete="off">
    {{#if owner}}
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="charInfo">
            <img src="systems/abfalter/img/animaLogo.png" />
            <div>
                <div>
                    <div>
                        <label> <span> Name </span> <input type="text" name="name" value="{{actor.name}}" placeholder="Name" /> </label>
                    </div>
                    <div>
                        <label> <span> Height </span> <input type="text" name="data.height" value="{{data.height}}" /> </label>
                        <label> <span> Weight </span> <input type="text" name="data.weight" value="{{data.weight}}" /> </label>
                    </div>
                    <div>
                        <label> <span> Appear. </span> <input type="number" name="data.appearance" value="{{data.appearance}}" /> </label>
                        <label> <span> Age </span> <input type="text" name="data.age" value="{{data.age}}" /> </label>
                    </div>
                </div>
                <div>
                    <div>
                        <label> <span> Gender </span> <input type="text" name="data.gender" value="{{data.gender}}" /> </label>
                    </div>
                    <div>
                        <label> <span> Race </span> <input type="text" name="data.race" value="{{data.race}}" /> </label>
                    </div>
                    <div>
                        <label> <span> Class </span> <input type="text" name="data.class" value="{{data.class}}" /> </label>
                    </div>
                </div>
                <div>
                    <div>
                        <label> <span> Size </span> <input type="number" name="data.size" value="{{data.size}}" /> </label>
                        <label> <span> Level </span> <input type="number" name="data.level" value="{{data.level}}" readonly /> </label>
                    </div>
                    <div>
                        <label> <span> XP </span> <input type="number" name="data.experience" value="{{data.experience}}" /> </label>
                        <label> <span> Next Level </span> <input type="number" name="data.nextlevel" value="{{data.nextlevel}}" readonly /> </label>
                    </div>
                    <div>
                        <label> <span> DP </span> <input type="number" name="data.dp" value="{{data.dp}}" readonly /> </label>
                        <label> <span> Presence </span> <input type="number" name="data.presence" value="{{data.presence}}" readonly /> </label>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs navTabsYes" data-group="primary">
        <ul>
            <li><a class="item" data-tab="general"><span>{{localize "General"}}</span></a></li>
            <li class="{{#if data.toggles.backgroundTab}}hidden{{/if}}"><a class="item" data-tab="background"><span>{{localize "Background"}}</span></a></li>
            <li class="{{#if data.toggles.magicTab}}hidden{{/if}}"><a class="item" data-tab="magic"><span>{{localize "Magic"}}</span></a></li>
            <li class="{{#if data.toggles.psychicTab}}hidden{{/if}}"><a class="item" data-tab="psychic"><span>{{localize "Psychic"}}</span></a></li>
            <li class="{{#if data.toggles.kiTab}}hidden{{/if}}"><a class="item" data-tab="ki"><span>{{localize "Ki"}}</span></a></li>
            <li><a class="item" data-tab="armory"><span>{{localize "Armory"}}</span></a></li>
            <li class="{{#if data.toggles.bioTab}}hidden{{/if}}"><a class="item" data-tab="bio"><span>{{localize "Bio & Info"}}</span></a></li>
            <li><a class="item" data-tab="settings"><span>{{localize "Settings"}}</span></a></li>
        </ul>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Location Tab --}}
        <div class="tab general" data-group="primary" data-tab="general">
{{> systems/abfalter/templates/actor/parts/general.html }}
        </div>
        <div class="tab bio" data-group="primary" data-tab="bio">
{{> systems/abfalter/templates/actor/parts/bio.html }}
        </div>
        <div class="tab magic" data-group="primary" data-tab="magic">
{{> systems/abfalter/templates/actor/parts/magic.html }}
        </div>
        <div class="tab psychic" data-group="primary" data-tab="psychic">
{{> systems/abfalter/templates/actor/parts/psychic.html }}
        </div>
        <div class="tab ki" data-group="primary" data-tab="ki">
{{> systems/abfalter/templates/actor/parts/ki.html }}
        </div>
        <div class="tab armory" data-group="primary" data-tab="armory">
{{> systems/abfalter/templates/actor/parts/armory.html }}
        </div>
        <div class="tab background" data-group="primary" data-tab="background">
{{> systems/abfalter/templates/actor/parts/background.html }}
        </div>
        <div class="tab settings" data-group="primary" data-tab="settings">
{{> systems/abfalter/templates/actor/parts/settings.html }}
        </div>
    </section>
    {{else}}
{{> systems/abfalter/templates/actor/parts/bio.html }}
    {{/if}}
</form>

