<form class="{{cssClass}}" autocomplete="off">
    <span> this is the attack sheet </span>
    <span> where you set how you attack </span>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="combat">{{localize "combat"}}</a>
        <a class="item" data-tab="mystic">{{localize "mystic"}}</a>

    </nav>

    <section class="sheet-body">
        <div class="tab combat" data-group="primary" data-tab="combat">
{{> systems/abfalter/templates/autoCombat/attackParts/combat.html }}
        </div>
        <div class="tab mystic" data-group="primary" data-tab="mystic">
{{> systems/abfalter/templates/autoCombat/attackParts/mystic.html }}
        </div>
    </section>

    {{#if this.data.allowed}}
        <div class='waitingRow'>
            <span> Im Allowed </span>
        </div>
    {{else}}
        <div class='waitingRow'>
            <span> Time to wait :)</span>
        </div>
    {{/if}}

</form>