<nav class="customActionBar">
    {{#if this.isGM}}
    <ol class="macros">
        <div title="send attack" id="sendAttack" class="customMacro">
            <img src="systems/abfalter/img/chillDuck.png" class="img-bottom"/>
            <img src="systems/abfalter/img/combatDuck.png" class="img-top" />
            <p class="shortcut">ctrl + 1</p>
        </div>
    </ol>
    {{else}}
    <ol class="macros">
        <div title="send attack" id="sendAttackRequest" class="customMacro">
            <img src="systems/abfalter/img/chillDuck.png" />
            <img src="systems/abfalter/img/combatDuck.png" class="img-top" />
            <p class="shortcut">ctrl + 1</p>
        </div>
    </ol>
    {{/if}}
</nav>