<form>
  <body>
    <div class="abfDivFormat defenseAuto">
        <label id="fatigueRow">
            <span>{{localize "abfalter.fatigue"}}</span>
            <select id="fatigueDropdown"></select>
        </label>

        <label> 
            <span> {{localize "abfalter.dialogs.modifier"}} </span>
            <input type="number" id="modifierMod" value="0" /> 
        </label>
    </div>
  </body>
</form>