<form>
  <body>
    <div class="abfDivFormat defenseAuto">
        <label id="profileRow">
            <span>Profile</span>
            <select id="profileDropdown"></select>
        </label>

        <label>
            <span>{{localize "abfalter.armorTypeSelect"}}</span>
            <select id="armorDropdown"></select>
        </label>

        <label>
            <span>{{localize "abfalter.defenseNumber"}}</span>
            <select id="defNumberDropdown"></select>
        </label>

        <label>
            <span>{{localize "abfalter.fatigue"}}</span>
            <select id="fatigueDropdown"></select>
        </label>

        <label> 
            <span> {{localize "abfalter.dialogs.modifier"}} </span>
            <input type="number" id="modifierMod" value="0" /> 
        </label>
    </div>
  </body>
</form>