<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="maintPathContent">
        <h5> {{localize "abfalter.magicTab.dailySpellMaint"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.magicTab.spellCost"}} </span> <input type="number" name="data.difficulty" value="{{data.difficulty}}" /> </label>
            <label> <span> {{localize "abfalter.magicTab.zeon"}} </span> <input type="number" name="data.cost" value="{{data.cost}}" /> </label>
        </div>
        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <textarea name="data.description" rows="5">{{data.description}}</textarea>
    </div>
</form>
