<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="advantages">
        <h2> {{localize "abfalter.generalTab.disAdvant"}} </h2>
        <div>
            <label> <span> {{localize "abfalter.generalTab.benefit"}} </span> <input type="number" name="data.benefit" value="{{data.benefit}}" /> </label>
        </div>
        <h3> {{localize "abfalter.basicInfo.description"}} </h3>
        <textarea name="data.description" rows="7">{{data.description}}</textarea>
    </div>
</form>
