<form class="{{cssClass}}" autocomplete="off">
    <div class="itemStart">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div>
        <div>
            <label> <span> Benefit </span> <input type="number" name="data.benefit" value="{{data.cost}}" /> </label>
        </div>
        <h3> Description </h3>
        <textarea name="data.description" rows="5" placeholder="{{localize "abfalter.psychicTab.patternInfoB"}}">{{data.description}}</textarea>
    </div>
</form>
