<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="invocationContent">
        <h5> {{localize "abfalter.magicTab.invocationOne"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.cost"}} </span> <input type="number" name="data.cost" value="{{data.cost}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.difficulty"}} </span> <input type="number" name="data.difficulty" value="{{data.difficulty}}" /> </label>
        </div>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.attack"}} </span> <input type="text" name="data.atk" value="{{data.atk}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.defense"}} </span> <input type="text" name="data.def" value="{{data.def}}" /> </label>
        </div>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.action"}} </span> <input type="text" name="data.action" value="{{data.action}}" /> </label>
        </div>
        <h6> {{localize "abfalter.magicTab.pact"}} </h6>
        <textarea name="data.pact" rows="5">{{data.pact}}</textarea>
        <h6> {{localize "abfalter.magicTab.effDuration"}} </h6>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="data.description" style="grid-area: 1 / 1 / 2/ 2;">{{data.description}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{data.description}}</div>
        </div>
    </div>
</form>