<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="maintpContent">
        <h5>{{localize "abfalter.psychicTab.maintMatrixOne"}}</h5>
        <div>
            <label> <span> {{localize "abfalter.psychicTab.potency"}} </span> <input name="data.value" type="number" value="{{data.value}}" />  </label>
        </div>
        <h6>{{localize "abfalter.basicInfo.description"}}</h6>
        <textarea name="data.description" rows="5">{{data.description}}</textarea>
    </div>
</form>