<form class="{{cssClass}} maintPower" autocomplete="off">
    <div>
        <p><span> This is the Maintained Matrices Item. </span></p>
        <p><span> It shows the name, potency, & description of the item on the actor sheet. </span></p>
        <p><span> This page cannot be opened from the actor sheet </span></p>
    </div>
    <div>
        <label> <span> Name </span> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
        <label> <span> Potency </span> <input name="data.value" type="number" value="{{data.value}}" />  </label>
    </div>
    <div>
        <p><span> Description </span></p>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>