<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="maContent">
        <h5> {{localize "abfalter.kiTab.martialArts"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.dp"}} </span> <input type="number" name="data.dp" value="{{data.dp}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.mk"}} </span> <input type="number" name="data.mk" value="{{data.mk}}" /> </label>
        </div>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.attack"}} </span> <input type="number" name="data.bonusAtk" value="{{data.bonusAtk}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.block"}} </span> <input type="number" name="data.bonusDef" value="{{data.bonusDef}}" /> </label>
        </div>
        <div>
            <label> <span> {{localize "abfalter.basicInfo.dodge"}} </span> <input type="number" name="data.bonusDod" value="{{data.bonusDod}}" /> </label>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.kiTab.degree"}} </span>
                    <select name="data.degree" data-dtype="text">
                        {{#select data.degree}}
                        <option value="Base"> {{localize "abfalter.basicInfo.base"}} </option>
                        <option value="Advanced"> {{localize "abfalter.kiTab.advanced"}} </option>
                        <option value="Supreme"> {{localize "abfalter.kiTab.supreme"}} </option>
                        <option value="Arcane"> {{localize "abfalter.kiTab.arcane"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
        </div>
        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="data.description" style="grid-area: 1 / 1 / 2/ 2;">{{data.description}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{data.description}}</div>
        </div>
    </div>
</form>
