<form class="{{cssClass}} baseAbfalter monsterPowerWindow" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="item-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" />

        <div class="header-details flexrow">
            <h1 class="itemName">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'abfalter.sheet.nameItem'}}" />
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "abfalter.sheet.monsterPowTitle"}}</h4>
                <span class="item-subType"></span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <select name="data.type" data-dtype="String">
                        {{#select data.type}}
                        <option value=""> </option>
                        <option value="1"> Essential </option>
                        <option value="2"> Dis-advantage </option>
                        <option value="3"> Combat </option>
                        <option value="4"> Defensive </option>
                        <option value="5"> Misc </option>
                        <option value="6"> Divine </option>
                        {{/select}}
                    </select>
                </li>
                <li>{{localize "abfalter.basicInfo.cost"}}: {{data.cost}}</li>
                <li>{{localize "abfalter.basicInfo.gnosis"}}: {{data.gnosis}}</li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs itemTabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "abfalter.basicInfo.description" }}</a>
        <a class="item" data-tab="details">{{ localize "abfalter.basicInfo.details" }}</a>
        <a class="item" data-tab="effects">{{ localize "abfalter.basicInfo.effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description flexcol" data-group="primary" data-tab="description">
            <h6> {{localize "abfalter.basicInfo.description"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" rows="5" name="data.description" style="grid-area: 1 / 1 / 2/ 2;">{{data.description}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{data.description}}</div>
            </div>
            <h6> {{localize "abfalter.basicInfo.shortDesc"}} </h6>
            <div style="display: grid;">
                <textarea class="textarea-auto-resize" rows="5" name="data.shortDesc" style="grid-area: 1 / 1 / 2/ 2;">{{data.shortDesc}}</textarea>
                <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{data.shortDesc}}</div>
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <div>
                <label> <span> {{localize "abfalter.basicInfo.cost"}} </span> <input type="number" name="data.cost" value="{{data.cost}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.gnosis"}} </span> <input type="number" name="data.gnosis" value="{{data.gnosis}}" /> </label>
            </div>
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> systems/abfalter/templates/actor/parts/active-effects.html }}
        </div>
    </section>
</form>