<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="spellContent">
        <h5> {{localize "abfalter.magicTab.spellDetails"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.magicTab.path"}} </span> <input type="text" name="data.path" value="{{data.path}}" /> </label>
            <label> <span> {{localize "abfalter.basicInfo.level"}} </span> <input type="number" name="data.level" value="{{data.level}}" /> </label>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.basicInfo.action"}} </span>
                    <select name="data.action" data-dtype="String">
                        {{#select data.action}}
                        <option value="Active"> {{localize "abfalter.basicInfo.active"}} </option>
                        <option value="Passive"> {{localize "abfalter.basicInfo.passive"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.psychicTab.pproj"}} </span>
                    <select name="data.projection" data-dtype="String">
                        {{#select data.projection}}
                        <option value="Offensive"> {{localize "abfalter.magicTab.offensive1"}} </option>
                        <option value="Defensive"> {{localize "abfalter.magicTab.defensive1"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.basicInfo.type"}} </span>
                    <select name="data.type" data-dtype="String">
                        {{#select data.type}}
                        <option value="Attack"> {{localize "abfalter.basicInfo.attack"}} </option>
                        <option value="Defense"> {{localize "abfalter.basicInfo.defense"}} </option>
                        <option value="Spiritual"> {{localize "abfalter.magicTab.spiritual"}} </option>
                        <option value="Effect"> {{localize "abfalter.magicTab.effect"}} </option>
                        <option value="Automatic"> {{localize "abfalter.magicTab.automatic"}} </option>
                        <option value="Detection"> {{localize "abfalter.magicTab.detection"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.magicTab.maintType"}} </span>
                    <select name="data.maintType" data-dtype="String">
                        {{#select data.maintType}}
                        <option value="None"> {{localize "abfalter.basicInfo.none"}} </option>
                        <option value="Turn"> {{localize "abfalter.magicTab.turn"}} </option>
                        <option value="Daily"> {{localize "abfalter.magicTab.daily"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
        </div>
        <div>
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.magicTab.bought"}} </span>
                    <select name="data.bought" data-dtype="String">
                        {{#select data.bought}}
                        <option value="SpellPath"> {{localize "abfalter.magicTab.spellPath1"}} </option>
                        <option value="Single"> {{localize "abfalter.magicTab.single"}} </option>
                        <option value="Not Bought"> {{localize "abfalter.magicTab.notBought"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
            <label> <span> {{localize "abfalter.basicInfo.cost"}} </span> <input type="number" name="data.cost" value="{{data.cost}}" /> </label>
        </div>
        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <textarea name="data.description" rows="5">{{data.description}}</textarea>
    </div>
    <div class="spellContentCont">
        <h6> Spell Content </h6>
        <div>
            <span> {{localize "abfalter.magicTab.rank"}} </span>
            <span> {{localize "abfalter.magicTab.req"}} </span>
            <span> {{localize "abfalter.magicTab.zeon"}} </span>
            <span> {{localize "abfalter.magicTab.maint"}} </span>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.basic"}} </span>
            <input type="number" name="data.basic.intReq" value="{{data.basic.intReq}}" />
            <input type="number" name="data.basic.zeonCost" value="{{data.basic.zeonCost}}" />
            <input type="number" name="data.basic.maint" value="{{data.basic.maint}}" />
        </div>
        <div>
            <textarea name="data.basic.rollDesc" rows="5">{{data.basic.rollDesc}}</textarea>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.intermidiate"}} </span>
            <input type="number" name="data.intermediate.intReq" value="{{data.intermediate.intReq}}" />
            <input type="number" name="data.intermediate.zeonCost" value="{{data.intermediate.zeonCost}}" />
            <input type="number" name="data.intermediate.maint" value="{{data.intermediate.maint}}" />
        </div>
        <div>
            <textarea name="data.intermediate.rollDesc" rows="5">{{data.intermediate.rollDesc}}</textarea>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.advanced"}} </span>
            <input type="number" name="data.advanced.intReq" value="{{data.advanced.intReq}}" />
            <input type="number" name="data.advanced.zeonCost" value="{{data.advanced.zeonCost}}" />
            <input type="number" name="data.advanced.maint" value="{{data.advanced.maint}}" />
        </div>
        <div>
            <textarea name="data.advanced.rollDesc" rows="5">{{data.advanced.rollDesc}}</textarea>
        </div>

        <div>
            <span> {{localize "abfalter.magicTab.arcane"}} </span>
            <input type="number" name="data.arcane.intReq" value="{{data.arcane.intReq}}" />
            <input type="number" name="data.arcane.zeonCost" value="{{data.arcane.zeonCost}}" />
            <input type="number" name="data.arcane.maint" value="{{data.arcane.maint}}" />
        </div>
        <div>
            <textarea name="data.arcane.rollDesc" rows="5">{{data.arcane.rollDesc}}</textarea>
        </div>
    </div>
</form>
