<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="maintPathContent">
        <h5> {{localize "abfalter.magicTab.turnSpellMaint"}} </h5>
        <div>
            <label> <span> {{localize "abfalter.magicTab.spellCost"}} </span> <input type="number" name="data.cost" value="{{data.cost}}" /> </label>
            <label> <span> {{localize "abfalter.magicTab.zeon"}} </span> <input type="number" name="data.zeon" value="{{data.zeon}}" /> </label>
        </div>
        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="data.description" style="grid-area: 1 / 1 / 2/ 2;">{{data.description}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{data.description}}</div>
        </div>
    </div>
</form>
