<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="weaponContent">
        <div>
            <h5> {{localize "abfalter.armoryTab.wepDetails"}} </h5>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.quality"}} </span> <input type="number" name="system.quality" value="{{system.quality}}" /> </label>
                <label> <span> {{localize "abfalter.armoryTab.rarity"}} </span> <input type="text" name="system.rarity" value="{{system.rarity}}" /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.attack"}} </span> <input type="number" name="system.attack" value="{{system.attack}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.block"}} </span> <input type="number" name="system.block" value="{{system.block}}" /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.dodge"}} </span> <input type="number" name="system.dodge" value="{{system.dodge}}" /> </label>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.shieldType"}} </span>
                        <select class="inline-edit" name="system.shield" data-field="system.shield">
                            {{selectOptions shieldObjList selected=system.shield localize=true}}
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <h6> {{localize "abfalter.armoryTab.dmgOpt"}} </h6>
            <div>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.primary"}} </span>
                        {{#if system.spiritHomebrew}}
                        <select class="inline-edit" name="system.primDmgT" data-field="system.primDmgT">
                            {{selectOptions damageTypeSpiritObjList selected=system.primDmgT localize=true}}
                        </select>
                        {{else}}
                        <select class="inline-edit" name="system.primDmgT" data-field="system.primDmgT">
                            {{selectOptions damageTypeObjList selected=system.primDmgT localize=true}}
                        </select>
                        {{/if}}
                    </label>
                </div>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.secondary"}} </span>
                        {{#if system.spiritHomebrew}}
                        <select class="inline-edit" name="system.secDmgT" data-field="system.secDmgT">
                            {{selectOptions damageTypeSpiritObjList selected=system.secDmgT localize=true}}
                        </select>
                        {{else}}
                        <select class="inline-edit" name="system.secDmgT" data-field="system.secDmgT">
                            {{selectOptions damageTypeObjList selected=system.secDmgT localize=true}}
                        </select>
                        {{/if}}
                    </label>
                </div>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="system.baseDmg" value="{{system.baseDmg}}" /> </label>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.generalTab.modifier"}} </span>
                        <select class="inline-edit" name="system.dmgMod" data-field="system.dmgMod">
                            {{selectOptions damageModObjList selected=system.dmgMod localize=true}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <div class="weapContentButton">
                    <button type="button" class="toggleBoolean {{#if system.toggle}}kiBought{{/if}}" data-label="system.toggle" data-ability="{{system.toggle}}">
                        <span> {{localize "abfalter.armoryTab.twoHand"}} </span>
                    </button>
                </div>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.damage"}} </span> <input type="number" name="system.finalDmg" value="{{system.finalDmg}}" readonly /> </label>
            </div>
        </div>

        <div>
            <h6> Extra </h6>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.fortitude"}} </span> <input type="number" name="system.fortitude" value="{{system.fortitude}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.fortitude"}} </span> <input type="number" name="system.fortFinal" value="{{system.fortFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.atPen"}} </span> <input type="number" name="system.atPen" value="{{system.atPen}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.atPen"}} </span> <input type="number" name="system.atPenFinal" value="{{system.atPenFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.breakage"}} </span> <input type="number" name="system.breakage" value="{{system.breakage}}" /> </label>
                <label> <span> {{localize "abfalter.armoryTab.finBreakage"}} </span> <input type="number" name="system.finalBreakage" value="{{system.finalBreakage}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.presence"}} </span> <input type="number" name="system.presence" value="{{system.presence}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.presence"}} </span> <input type="number" name="system.preFinal" value="{{system.preFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.shieldSpd"}} </span> <input type="number" name="system.shieldSpeed" value="{{system.shieldSpeed}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.shieldSpd"}} </span> <input type="number" name="system.shieldFinalSpeed" value="{{system.shieldFinalSpeed}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.speed"}} </span> <input type="number" name="system.speed" value="{{system.speed}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.speed"}} </span> <input type="number" name="system.FinalWeaponSpeed" value="{{system.FinalWeaponSpeed}}" readonly /> </label>
            </div>
            <div>
                <div class="weapContentButton">
                    <button type="button" class="toggleBoolean {{#if system.complex}}kiBought{{/if}}" data-label="system.complex" data-ability="{{system.complex}}">
                        <span> {{localize "abfalter.armoryTab.complex"}} </span>
                    </button>
                </div>
            </div>
        </div>

        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <div style="display: grid;">
            <textarea class="textarea-auto-resize" rows="5" name="system.description" style="grid-area: 1 / 1 / 2/ 2;">{{system.description}}</textarea>
            <div class="textarea-auto-resize-sibling" aria-hidden="true" style="visibility: hidden; grid-area: 1 / 1 / 2 / 2;">{{system.description}}</div>
        </div>
    </div>
</form>
