<form class="{{cssClass}} baseAbfalter itemWindow" autocomplete="off">
    <div class="itemStart">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <label> <input name="name" type="text" value="{{item.name}}" placeholder="Name" /> </label>
    </div>

    <div class="weaponContent">
        <div>
            <h5> {{localize "abfalter.armoryTab.wepDetails"}} </h5>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.quality"}} </span> <input type="number" name="data.quality" value="{{data.quality}}" /> </label>
                            <div class="csSelect">
                                <label>
                                    <span> {{localize "abfalter.armoryTab.size"}} </span>
                                    <select name="data.weaponSize" data-dtype="text">
                                        {{#select data.weaponSize}}
                                        <option value="normal"> {{localize "abfalter.armoryTab.normal"}} </option>
                                        <option value="enormous"> {{localize "abfalter.armoryTab.enormous"}} </option>
                                        <option value="throwable"> {{localize "abfalter.armoryTab.giant"}} </option>
                                        {{/select}}
                                    </select>
                                </label>
                            </div>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.attack"}} </span> <input type="number" name="data.attack" value="{{data.attack}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.block"}} </span> <input type="number" name="data.block" value="{{data.block}}" /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.dodge"}} </span> <input type="number" name="data.dodge" value="{{data.dodge}}" /> </label>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.shieldType"}} </span>
                        <select name="data.shield" data-dtype="text">
                            {{#select data.shield}}
                            <option value="none"> {{localize "abfalter.armoryTab.shieldNone"}} </option>
                            <option value="buckler"> {{localize "abfalter.armoryTab.shieldBuckler"}} </option>
                            <option value="shield"> {{localize "abfalter.armoryTab.shieldNorm"}} </option>
                            <option value="fShield"> {{localize "abfalter.armoryTab.shieldTower"}} </option>
                            {{/select}}
                        </select>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <h6> {{localize "abfalter.armoryTab.dmgOpt"}} </h6>
            <div>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.primary"}} </span>
                        <select name="data.primDmgT" data-dtype="text">
                            {{#select data.primDmgT}}
                            <option value="CUT"> {{localize "abfalter.armoryTab.cut"}} </option>
                            <option value="IMP"> {{localize "abfalter.armoryTab.imp"}} </option>
                            <option value="THR"> {{localize "abfalter.armoryTab.thr"}} </option>
                            <option value="HEAT"> {{localize "abfalter.armoryTab.heat"}} </option>
                            <option value="COLD"> {{localize "abfalter.armoryTab.cold"}} </option>
                            <option value="ELE"> {{localize "abfalter.armoryTab.ele"}} </option>
                            <option value="ENE"> {{localize "abfalter.armoryTab.ene"}} </option>
                            {{#if data.spiritHomebrew}}
                            <option value="SPIRIT"> {{localize "abfalter.armoryTab.spirit"}} </option>
                            {{/if}}
                            {{/select}}
                        </select>
                    </label>
                </div>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.armoryTab.secondary"}} </span>
                        <select name="data.secDmgT" data-dtype="text">
                            {{#select data.secDmgT}}
                            <option value="NONE"> {{localize "abfalter.armoryTab.na"}} </option>
                            <option value="CUT"> {{localize "abfalter.armoryTab.cut"}} </option>
                            <option value="IMP"> {{localize "abfalter.armoryTab.imp"}} </option>
                            <option value="THR"> {{localize "abfalter.armoryTab.thr"}} </option>
                            <option value="HEAT"> {{localize "abfalter.armoryTab.heat"}} </option>
                            <option value="COLD"> {{localize "abfalter.armoryTab.cold"}} </option>
                            <option value="ELE"> {{localize "abfalter.armoryTab.ele"}} </option>
                            <option value="ENE"> {{localize "abfalter.armoryTab.ene"}} </option>
                            {{#if data.spiritHomebrew}}
                            <option value="SPIRIT"> {{localize "abfalter.armoryTab.spirit"}} </option>
                            {{/if}}
                            {{/select}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <label> <span> {{localize "abfalter.basicInfo.base"}} </span> <input type="number" name="data.baseDmg" value="{{data.baseDmg}}" /> </label>
                <div class="csSelect">
                    <label>
                        <span> {{localize "abfalter.generalTab.modifier"}} </span>
                        <select name="data.dmgMod" data-dtype="text">
                            {{#select data.dmgMod}}
                            <option value="agi"> {{localize "abfalter.basicInfo.agility"}} </option>
                            <option value="con"> {{localize "abfalter.basicInfo.consti"}} </option>
                            <option value="str"> {{localize "abfalter.basicInfo.strength"}} </option>
                            <option value="dex"> {{localize "abfalter.basicInfo.dexerity"}} </option>
                            <option value="per"> {{localize "abfalter.basicInfo.perception"}} </option>
                            <option value="int"> {{localize "abfalter.basicInfo.intell"}} </option>
                            <option value="pow"> {{localize "abfalter.basicInfo.power"}} </option>
                            <option value="wp"> {{localize "abfalter.basicInfo.willPower"}} </option>
                            <option value="str2"> {{localize "abfalter.armoryTab.twoStr"}} </option>
                            <option value="presence"> {{localize "abfalter.armoryTab.twoPresPow"}} </option>
                            <option value="none"> {{localize "abfalter.basicInfo.none"}} </option>
                            {{/select}}
                        </select>
                    </label>
                </div>
            </div>
            <div>
                <div class="weapContentButton">
                    <button type="button" class="toggleBoolean {{#if data.toggle}}kiBought{{/if}}" data-label="data.toggle" data-ability="{{data.toggle}}">
                        <span> {{localize "abfalter.armoryTab.twoHand"}} </span>
                    </button>
                    <button type="button" class="toggleBoolean {{#if data.complex}}kiBought{{/if}}" data-label="data.complex"
                        data-ability="{{data.complex}}">
                        <span> {{localize "abfalter.armoryTab.complex"}} </span>
                    </button>
                </div>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.damage"}} </span> <input type="number" name="data.finalDmg" value="{{data.finalDmg}}" readonly /> </label>
            </div>
        </div>
    <div>
        <h6> Ranged Details </h6>
        <div>
            <!-- ROF -->
            <label> <span> {{localize "abfalter.armoryTab.rateOfFire"}} </span> <input type="number" name="data.rateOfFire"
                    value="{{data.rateOfFire}}" /> </label>
            <!-- Reload -->
            <label> <span> {{localize "abfalter.armoryTab.reload"}}</span>
                <input type="number" name="data.reload" value="{{data.reload}}"/> </label>
        </div>
        <div>
            <!-- Range -->
            <label> <span> {{localize "abfalter.armoryTab.range"}} </span> <input type="number" name="data.range"
                    value="{{data.range}}" /> </label>
        </div>
        <div>
            <!-- Type -->
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.armoryTab.rangedType"}} </span>
                    <select name="data.rangedType" data-dtype="text">
                        {{#select data.rangedType}}
                        <option value="None"> {{localize "abfalter.armoryTab.na"}} </option>
                        <option value="Firing"> {{localize "abfalter.armoryTab.firing"}} </option>
                        <option value="Throwable"> {{localize "abfalter.armoryTab.throwable"}} </option>
                        <option value="Projectile"> {{localize "abfalter.armoryTab.projectile"}} </option>
                        <option value="Munition"> {{localize "abfalter.armoryTab.munition"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
            <!-- Type -->
            <div class="csSelect">
                <label>
                    <span> {{localize "abfalter.armoryTab.munitionType"}} </span>
                    <select name="data.munitionType" data-dtype="text">
                        {{#select data.munitionType}}
                        <option value="None"> {{localize "abfalter.armoryTab.na"}} </option>
                        <option value="Bow"> {{localize "abfalter.armoryTab.bow"}} </option>
                        <option value="L. Crossbow"> {{localize "abfalter.armoryTab.lightCrossbow"}} </option>
                        <option value="H. Crossbow"> {{localize "abfalter.armoryTab.heavyCrossbow"}} </option>
                        <option value="Pistol"> {{localize "abfalter.armoryTab.pistol"}} </option>
                        <option value="Sling"> {{localize "abfalter.armoryTab.sling"}} </option>
                        <option value="L. Ballista"> {{localize "abfalter.armoryTab.lightBallista"}} </option>
                        <option value="H. Ballista"> {{localize "abfalter.armoryTab.heavyBallista"}} </option>
                        <option value="Cannon"> {{localize "abfalter.armoryTab.cannon"}} </option>
                        {{/select}}
                    </select>
                </label>
            </div>
        </div>

    </div>
        <div>
            <h6> Extra </h6>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.fortitude"}} </span> <input type="number" name="data.fortitude" value="{{data.fortitude}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.fortitude"}} </span> <input type="number" name="data.fortFinal" value="{{data.fortFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.atPen"}} </span> <input type="number" name="data.atPen" value="{{data.atPen}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.atPen"}} </span> <input type="number" name="data.atPenFinal" value="{{data.atPenFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.breakage"}} </span> <input type="number" name="data.breakage" value="{{data.breakage}}" /> </label>
                <label> <span> {{localize "abfalter.armoryTab.finBreakage"}} </span> <input type="number" name="data.finalBreakage" value="{{data.finalBreakage}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.presence"}} </span> <input type="number" name="data.presence" value="{{data.presence}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.presence"}} </span> <input type="number" name="data.preFinal" value="{{data.preFinal}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.shieldSpd"}} </span> <input type="number" name="data.shieldSpeed" value="{{data.shieldSpeed}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.shieldSpd"}} </span> <input type="number" name="data.shieldFinalSpeed" value="{{data.shieldFinalSpeed}}" readonly /> </label>
            </div>
            <div>
                <label> <span> {{localize "abfalter.armoryTab.speed"}} </span> <input type="number" name="data.speed" value="{{data.speed}}" /> </label>
                <label> <span> {{localize "abfalter.basicInfo.final"}} {{localize "abfalter.armoryTab.speed"}} </span> <input type="number" name="data.FinalWeaponSpeed" value="{{data.FinalWeaponSpeed}}" readonly /> </label>
            </div>
        </div>

        <h6> {{localize "abfalter.basicInfo.description"}} </h6>
        <textarea name="data.description" rows="7">{{data.description}}</textarea>
    </div>
</form>
